@include "bootstrap/less/bootstrap.less";

body { padding-top: 70px; }

.admin-add {
	margin: 20px 0;
}

.product-upload-box {
	position: relative;
	border: 4px dashed #eee;
	padding-top: 20px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 20px;
	text-align: center;
	-webkit-border-radius: 6px !important;
	-moz-border-radius: 6px !important;
	border-radius: 6px !important;
}


.product-description {
	height: 130px;
}
.wizard {
	font-size: 22px;
	color: #333;
	margin-top: 20px;
}

.wizard i {
	color: #eee;
}
.percent {
	color: #555;
	font-size: 20px;
	margin-left: 10px;
}
.uploading {
	background-color: #fff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
	box-shadow:          0 1px 4px rgba(0,0,0,.065);
	width: 110px;
	height: 125px;
	position: absolute;
	top: 45px;
	left: 50%;
	z-index: 10;
	margin-left: -80px;
}
.product-upload-box {
	position: relative;
	border: 4px dashed #eee;
	padding-top: 20px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 20px;
	text-align: center;
	-webkit-border-radius: 6px !important;
	-moz-border-radius: 6px !important;
	border-radius: 6px !important;
}
.product-upload-box > p {
	font-size: 20px;
	color: #eee;
	line-height: 0.9;
}

.hide {
	display: block;
	visibility: hidden;
}
.add-thumb {
	margin-right: 5px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	border: 4px dashed #eee;
	height: 130px;

}
#btn-thumb-cont {
	position: relative;
}
#btn-thumb-upload {
	position: absolute;
	top: 52px;
	left: 98px;
	z-index: 10;
}

.sidebar{
	padding: 0;
	margin-left: 0px;
}


.nav-tabs.nav-stacked>li>a {
	font-size: 18px;
}


.product-cell-thumb {
	float: left;
	margin-right: 5px;
	background-color: #eee; width: 72px; height: 72px;
}

.product-cell-info {
	float: left;
}

.product-cell-info strong {
	font-size: 16px;
}
.product-details {
	float:left;

}

.product-cell-btn {
	vertical-align: middle;
}

.product-stats-cell {

	width: 200px;
	padding: 0 !important;
	vertical-align: bottom;
	position: relative;

}

.product-stats-cell > canvas{
	position: absolute;
	top: 50px;

}
.products-stats-count{
	position: absolute;
	top: 10px;
	left: 0px;
	font-size: 28px;
	width: 200px;
	text-align: center;
}
