@import "top.less";
@import "dashboard.less";
@import "common.less";
//@brand-secondary:      @peter-river;
@local-font-path: "/assets/lato/";
.glue-fix {
  margin-left: 0px;
  margin-right: 0px;
}
.alert {
  margin-top: 20px;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}

.ext i {
  margin: 0 9px;
.pull-right;
}
.file-row-error {
  border-color: @alizarin !important;
}
.file-error {
  color: @alizarin !important;
}
.input-thumb {
  position: absolute;
  top: 0;
  height: 43px;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 38px;
  direction: ltr;
  cursor: pointer;
  z-index: 222;
}
.panel-form {
  padding: 50px;
}
.add-info-box {
  background: #fff;
}
body {
  background-color: #fff;
  height: 100%;
}
.graph {
  height: 310px;
}

h3 {
  font-size: 20px;
}

hr {
  border-top: 2px solid @clouds;
}
#footer {
  height: 30px;
  background-color: @gray-dark;
}
#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

.product-upload-box {
  border: 2px dotted @clouds;
  .text-center;
  padding: 15px;
}
.product-preview-box {
 border: 2px dotted @clouds;
 .text-center;
 padding: 15px;
}
.wizard {
  font-size: 22px;
}

.modal-header {
  background-color: @brand-primary;
  color: white;
  h4 {
    font-weight: 300;
    text-transform: uppercase;
  }
}
.progress {
  margin-bottom: 5px;
}
.upload-row {

  text-align: center;
  background-color: white;
  border: 4px dotted @clouds;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 6px;
}

.btn-preview {
  color: #ffffff !important;
  background-color: @brand-secondary !important;
  border: 2px solid @brand-secondary !important;
}