@import "top.less";
@import "dashboard.less";

.glue-fix {
margin-left: 0px;
margin-right: 0px;
}
.panel-form {
  padding: 50px;
}
.add-info-box {
  background: #fff;
}
body {
  background-color: #fff;
  height: 100%;
}
.graph {
  height: 310px;
}

h3 {
  font-size: 20px;
}

#footer {
  height: 30px;
  background-color: @gray-dark;
}
#wrap {
min-height: 100%;
height: auto;
margin: 0 auto -60px;
padding: 0 0 60px;
}
