@sidebar-width: 185px;
@sidebar-item-height: 52px;


.sidebar {
  background-color: @brand-primary;
  width: 200px;
  height: 100%;
  position: absolute;

  ul {
    li {
      a {
color: white;
width: 100%;
      }
    }
  }
}
