.stats-summary {
  margin-top: 10px;
}

.stats-summary-col {
 text-align: center;
 border-right: 2px dotted @clouds;
 padding: 0;
 h3 {
  text-transform: uppercase;
  font-size: 46px;
  margin-bottom: 0;
  color: @peter-river;
}
small {
  color: @wet-asphalt;
  text-transform: uppercase;
  font-size: 16px;
  margin: 0;
  font-weight: 400;
}
}

.visits {
 border-left: 2px dotted @clouds;

}

.sales {

}

.earnings {

.dollar {
  color:  @turquoise;
  vertical-align: super;
  font-size: 26px;
}
}


.list-item {
  padding: 12px 4px;
  margin: 0px;
  height: 82px;
  cursor: pointer;
  /* border-radius: 5px;*/
  border-top: 1px solid  @clouds;
img {
   height: 55px;
  width: 55px;
  margin: 0 10px;
}
.ext {
  padding-top: 16px;
  text-align: right;
}
.details {
   padding-left: 0px;
   padding-top: 8px;
   strong {
    margin-right: 1px;
    font-size: 22px;
   }
   i {   margin-right: 10px; }
}
}
.list-item:hover {
 background-color: #F9F9F9;
}
.list-item:nth-of-type(even) {
  /*background: @gray-light*/
}
.list-img {
  padding-left: 0px;
  padding-right: 10px;
}
.list-stats {

  font-size: 22px;
   margin: 15px 5px;

  span {
   margin: 0px 5px;
  }
  .dollar {
  color:  @turquoise;
  vertical-align: super;
  font-size: 16px;
}
  color: @peter-river;
}

.notification-box {
  height: 400px;
  margin-top: 20px;
  border-right: 2px solid  @gray-light;
}


