.navbar-brand {
  font-size: 18px;
}

.navbar {
  margin-bottom: 0px !important;
}
body {
 padding-top: 53px;
}

.navbar-nav.navbar-right:last-child {
margin-right: 0px;
}
.headline {
  padding:  10px;
  background-color: @clouds;
  border-bottom: 2px solid #DBDDE3;
  h1 {
    font-size: 28px;
    font-weight: 300;
    color: #525252;
    margin-top: 5px;
    margin-bottom: 0px;
  }
}
