.navbar-brand {
  font-size: 18px;
}

.navbar {
 // margin-bottom: 0px !important;
}


.headline {
  //background-color: @clouds;
  //border-bottom: 2px solid #DBDDE3;
  padding: 0 25px;
  margin-top: 5px;
  .btn {
    margin-top: 7px;
  }
  h1 {
    padding:  10px;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 300;
    color: #525252;
    margin-top: 5px;
    margin-bottom: 0px;
  }
}
.menu {
  background-color: rgba(255, 255, 255, 0.96);
  border-color: transparent;
  .btn-primary {
    color: @brand-secondary;
    background-color: transparent;
    border: #348eda solid 1px;
  }
}
.menu .navbar-brand {
  color: @wet-asphalt;
  font-weight: 100;
}
