<div class="payment-history">
  <h4>Payment History</h4>

  <div id="payments-list">
    <div>
      <table>
        <thead>
          <tr>
            <th style="width:15%">N. #</th>
            <th style="width:18%">Card</th>
            <th style="width:44%">Plan</th>
             <th style="width:44%">Date</th>
            <th style="width:6%">Amount</th>
            <th style="width:18%">Invoice</th>
          </tr>
        </thead>

        <tbody role="alert" aria-live="polite" aria-relevant="all">
          <% if @invoices.blank? %>
          <tr><td colspan="6"><p class="text-center text-muted">No payments</p></td></tr>
          <% else %>
          <%= render @invoices %>
          <% end %>
        </tbody></table>
      </div>
    </div>
  </div>

