<% if list %>
<tr><td class="list-name"><%= list['name'] %></td>
  <td>
    <a href="#" data-list-id="<%= list['id'] %>"
    data-list-name="<%= list['name'] %>"
     class="btn btn-select-list btn-sm btn-inverse">Select</a>
  </td></tr>
  <% else %>

  <p>No list here</p>
  <% end %>