<%= render partial: "user/tools/tabs" %>
<%# render partial: "sync_modal" %>
<%= render partial: "modals" %>
<div class="row">
  <div class="col-md-2">
    <a href="<%= new_user_tools_mailing_list_path %>"
      data-backdrop="static" data-toggle="modal" data-target="#new-list"
      class="btn btn-block btn-primary"> New List</a>
    </div>

    <div class="col-md-10">
      <p>A Mailing List is a collection of user emails that have bought your product/s.
        You can send emails to lists from here or connect to your Mailchimp/Campaign Monitor account.
      </p>
    </div>

  </div>
  <div class="newsletter-list">

    <table>
      <thead>
        <tr>
          <th class="list-name">List Name</th>
          <th class="subscribers"> Subscribers</th>
          <th class="last-update">Last Update</th>
          <th class="actions"></th>
        </tr>
      </thead>
      <tbody id="js-mailing-list">
       <% if @list.blank? %>
       <tr><td colspan="4"><p class="text-center text-muted">No mailing list founds</p></td></tr>
       <% else %>
       <%= render @list %>
       <% end %>
     </tbody>
   </table>
   <div class="pagination">
     <div>
       <%# paginate @orders %>
     </div>
   </div>
 </div>












</div>


