<%= render partial: "user/tools/tabs" %>

<div class="newsletter-send">
  <div class="newsletter-send-title">
    <h6> Send Email to: <b>Mailing list name</b> <i><b>1024</b> subscribers</i></h6>
  </div>
  <div class="newsletter-send-content">
    <form>
      <div class="form-group row">
        <div class="col-md-7">
          <input type="email" class="input-lg form-control" placeholder="Subject">
        </div>
        <div class="col-md-3">
        <a class="btn btn-block btn-default">Send Test Email</a>
       </div>
       <div class="col-md-2">
         <button type="submit" class="btn btn-block btn-primary">Send</button>
       </div>
     </div>
     <div class="row">
       <div id="edit">

       </div>
     </div>
   </div>
 </div>
</form>









</div>


