<%= render partial: "user/tools/tabs" %>

<div class="newsletter-send">
  <div class="newsletter-send-title">
    <h6> Send Email to: <b><%= @list.name %></b> <i><b><%= @list.subscribers %></b> subscribers</i></h6>
  </div>
  <div class="newsletter-send-content">
    <form>
      <div class="form-group row">
        <div class="col-md-7">
          <input type="email" class="input-lg form-control" placeholder="Subject">
        </div>
        <div class="col-md-3">
        <%= link_to "Send Test Email", send_test_email_user_tools_mailing_list_path(@list),
        class: 'btn btn-block btn-default' %>
       </div>
       <div class="col-md-2">
         <button type="submit" class="btn btn-block btn-primary">Send</button>
       </div>
     </div>
     <div class="row">
       <div id="edit">

       </div>
     </div>
   </div>
 </div>
</form>









</div>


