<div id="product-form-page">
  <div class="product-form-steps">
    <a href="#upload" class="active-tab product-form-step" data-toggle="tab">
      <p>
        <i class="fa icon-cloud-upload step-icon"></i>
        Upload product file
        <div class="progress">
          <div class="progress-bar" style="width: 0%;">
          </div>
        </div>
      </p>
    </a>
    <a href="#js-product-form" class="disabled-tab product-form-step" data-toggle="tab">
      <p>
        <i class="fa icon-tag step-icon"></i>
        Set product details
      </p>
    </a>
    <a href="#share" class="completed-tab product-form-step" data-toggle="tab">
      <p>
        <i class="fa fa-check step-icon"></i>
        Share to your audience
      </p>
    </a>
  </div>
  <div class="tab-content">
  <div id="upload" class="tab-pane <% if !@product.new_record? %>  hid <% end %>">
      <%= render 'user/products/tabs/upload' %>
    </div>

    <%= render 'user/products/tabs/product_details' %>

    <div class="share <% if  @product.new_record?  %>  hid <% end%>">
      <%= render 'user/products/tabs/share' %>
    </div>
  </div>
  <div class="produc-form-actions">
  </div>
</div>
