<% content_for :header do %>
<ul class="col-lg-6 nav nav-tabs">
 <li class="<%= 'active' if current_page?(edit_user_product_path(@product.id)) %>">
  <%= link_to(edit_user_product_path(@product.id)) do %>
  Edit
  <% end %>
</li>
<li class="<%= 'active' if current_page?(share_user_product_path(@product.id)) %>">
  <%= link_to(share_user_product_path(@product.id)) do %>
  Share
  <% end %>
</li>
</ul>

<% end %>