<% content_for(:page_title)  { "Edit #{@product.name}" } %>
<%- content_for :title  do %>
<i class="fa fa-lg icon-tag-2"></i>
Products / <span>Edit</span>
<% end %>
<div id="product-form-page">
<div id="js-product-form" class="product product-form">
  <%= render partial: "user/products/tabs/product_details" %>
</div>
</div>