  <%= render partial: "tabs" %>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-offset-3 col-md-6 text-center">
          <h3> Your product page link, share to your audience!</h3>
          <input class="share-url col-md-3" type="text" value="<%= product_slug_url( @product.slug) %>" />
          <a href=" javascript: void(0)"
          onclick="window.open(
          '<%= @tweet_url %>',
          'tweet','toolbar=0,status=0,width=600,height=305')"
          class="btn btn-social-twitter btn-lg">
            <i class="fui-twitter"></i>
            Tweet
          </a>

          <a href=" javascript: void(0)"
          onclick="window.open(
          '<%= @facebook_url %>',
          'share','toolbar=0,status=0,width=600,height=305')"

          class="btn btn-lg btn-social-facebook">
            <i class="fui-facebook"></i>
            Share
          </a>
        </div>
      </div>
    </div>
  </div>
