<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>2014 &copy; Up&amp;Sell.me</p>
            </div>
        </div>
    </div>
</div>
