<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-2 navbar-brand">
      <%= link_to(root_path) do %>
       <b>UP&amp;SELL.ME</b>
       <% end %>
     </div>

     <div class="col-md-8">
      <ul class="bottom-links">
        <li>
          <%= link_to "Terms of Service", terms_path %>
        </li>
        <li>
          <%= link_to "Privacy Policy", privacy_path %>
        </li>
      </ul>
    </div>

    <div class="col-md-2">
      <ul class="bottom-icons">
        <li><a href="https://www.facebook.com/pages/UpSellme/590644707644241" class="fui-facebook"></a></li>
        <li><a href="https://twitter.com/upandsell_me" class="fui-twitter"></a></li>
      </ul>
    </div>
  </div>
</div>
</div>