<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p> &copy; 2014 - UP&amp;SELL.ME</p>
            </div>
        </div>
    </div>
</div>
