<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
       <ul><li>
        <%= link_to "Terms of Service", terms_path %>
      </li>
      <li>
        <%= link_to "Privacy Policy", privacy_path %>
      </li>
    </ul>
  </div>
  <div class="col-md-offset-6 col-md-3">
   <ul class="pull-right"><li>
    <a href="https://twitter.com/upandsell_me"><i class="fa fa-lg fa-twitter"></i></a>
  </li>
  <li>
    <a href="https://www.facebook.com/pages/UpSellme/590644707644241"><i class="fa fa-lg fa-facebook-square"></i></a>
  </li>
</ul>
<b class="pull-right"> &copy; 2014 - UP&amp;SELL.ME</b>
</div>
</div>
</div>
</div>
