<% content_for :header do %>
<div class="col-lg-2">
  <h1>SETTINGS</h1>
  </div>
   <ul class="col-lg-6 nav nav-tabs">
  <li class="<%= 'active' if current_page?(user_settings_account_path) %>">
    <%= link_to(user_settings_account_path) do %>
    Account
    <% end %>
  </li>
  <li class="<%= 'active' if current_page?(user_settings_payments_path) %>">
    <%= link_to(user_settings_payments_path) do %>
    Payments
    <% end %>
  </li>
</ul>

 <% end %>

