     <div class="row">
        <div class="col-md-12">
          <div class="tabbable tabs-left">
            <ul class="nav nav-tabs" id="tab-2">
          <li class="<%= 'active' if current_page?(user_settings_account_path) %>">
    <%= link_to(user_settings_account_path) do %>
    Account
    <% end %>
  </li>
  <li class="<%= 'active' if current_page?(user_settings_payments_path) %>">
    <%= link_to(user_settings_payments_path) do %>
    Payments
    <% end %>
  </li>
  <li><a href="#">Change Password</a></li>
   </ul> 
             <div class="tab-content">
  
              <div class="tab-pane active">
                <div class="row">
                  <div class="col-md-12">
