    <%= render partial: "tabs" %>
    <div class="settings-emails">
      <div class="row">
        <div class="col-md-12">
          <h5>Custom email message after sale</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
           tempor incididunt ut labore et dolore magna aliqua.</p>
         </div>
       </div>
       <form>
         <div class="form-group row">
           <div class="wmd-panel col-lg-4">
             <textarea id="wmd-input" class="
             wmd-input form-control input-lg"
             placeholder="Email message here..." style="height: 150px;"></textarea>
             <button type="submit" class="btn btn-primary">Save</button>
             <button type="submit" class="btn btn-inverse">Test Email</button>
           </div>
           <div class="col-lg-8">
            <p class="text-center">Preview</p>
            <div id="wmd-preview" class="wmd-panel wmd-preview"
            style="height: 420px; background: #eee;">
          </div>
        </div>
      </div>
    </div>
  </form>

</div>
</div>
