   <div class=" col-md-4  col-md-offset-1">
      <h3>New Password</h3>
      <div class="row form-group">
        <%= f.input_field :current_password, autocomplete: "off",
        placeholder: "Current password"  %>
      </div>
      <div class="row form-group">

        <%= f.input_field :password, autocomplete: "off",
        placeholder: "New password"  %>

      </div>
      <div class="row form-group">
        <%= f.input_field :password_confirmation,
        placeholder: "New password confirmation"  %>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">

          </div>
        </div>
      </div>


    </div>