<%- title "Setup Account" %>
<div class="row">
  <div class="col-md-12 col-vlg-10">
    <ul class="cbp_tmtimeline">
      <li class="upload-section">
        <div class="cbp_tmicon info animated bounceIn"> <i class="fa fa-envelope-o"></i> </div>
        <div class="cbp_tmlabel">
          <div class="p-t-10 p-l-10 p-r-10 ">
check email

        </div>
        <div class="clearfix"></div>
      </div>


  </li>

  <li class="info-section">

    <div class="cbp_tmicon info animated bounceIn"> <i class="fa fa-money"></i> </div>
    <div class="cbp_tmlabel">
     <div class="p-t-20 p-l-30 p-r-30 p-b-20 product_form">
 setup payment
</div>
</li>

<li class="share-section">

  <div class="cbp_tmicon info animated bounceIn"> <i class="fa fa-file-o"></i> </div>
  <div class="cbp_tmlabel p-b-0">
    <div  class="share p-t-10 p-l-30 p-r-20 p-b-20 text-center">
add first product
</div>
</div>
</li>


</ul>
</div>
</div>

