    <%= render partial: "tabs" %>

    <div class="row">
      <div class="col-md-4 col-md-offset-2 text-center">
        <h3 style="color: #1abc9c;"> 13.99$/month</h3>

        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud </p>
        </div>
        <div class="col-md-4">
          <form id="cc-form" action="/user/settings/save_upgrade"
          class="simple_form" method="post" data-amount='1400' data-currency='EUR'>
          <div class="row form-group">
            <div class="col-md-12">
              <input class="cc-num form-control"
              name="cc-num" placeholder="Credit Card Number" type="text">
            </div>

          </div>
          <div class="row form-group">
            <div class="col-md-6">
              <input
              class="cc-exp form-control"
              name="cc-exp" placeholder="MM/YYYY"  type="text">
            </div>
            <div class="col-md-5 col-md-offset-1">
              <input
              class="cc-cvc form-control"
              name="cc-cvc" placeholder="CVV"  type="text">
            </div>
          </div>

          <div class="form-group">
           <div class="col-md-12 text-center"><hr>
             <input class="btn btn btn-primary" name="commit" type="submit" value="Upgrade Account">
           </div>
         </div>
       </form>
     </div>
   </div>
 </div>
</div>
</div>
