<% content_for(:page_title)  { "Emails Settings" } %>
<%- content_for :title  do %>
<i class="fa fa-lg fa-cogs"></i>
Settings / <span>Emails</span>
<% end %>
<%= render partial: "user/settings/tabs" %>
<div class="settings-emails">
  <div class="row">
    <div class="col-md-12">
      <h5>Custom email message after sale</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
       tempor incididunt ut labore et dolore magna aliqua.</p>
     </div>
   </div>
   <form class="email-preview-form">
     <div class="email-preview-wrapper">
      <div class="email-preview-box">
        <div class="email-preview-head">
          <input type="text" class="form-control input-lg" value="Thanks for the purchase!" />
        </div>
        <div class="email-preview-body">
          <textarea class="form-control input-lg">
            You can download it by clicking the link below:
          </textarea>
          <div class="row">
            <div class="btn-email">Download</div>
            <p class="alt-link-email">https://upandsell.me/download/p/FRpCYQ8273Uw</p>
          </div>
          <div class="social-email">
           <p>Let your friends know about your purchase!</p>
           <center>
           <a href="#" target="_blank"> <%= image_tag 'email_share.png' %></a>
            <a href="#" target="_blank"> <%= image_tag 'email_tweet.png' %></a>
          </center>
        </div>
      </div>
    </div>
  </div>
  <div class="form-row">
 <div class="form-actions"><hr />
   <%= button_tag(type: 'submit', class: "btn btn-primary btn-form") do %>
   <i class='fa fa-lg fa-lock hidden'>&nbsp; </i> Save Settings
   <% end %>
 </div>
</div>
</form>

</div>
</div>
