---
http_interactions:
- request:
    method: post
    uri: http://ec.europa.eu/taxation_customs/vies/services/checkVatService
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns1="urn:ec.europa.eu:taxud:vies:services:checkVat"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="urn:ec.europa.eu:taxud:vies:services:checkVat:types"><env:Body><ins0:checkVat><ins0:countryCode>LU</ins0:countryCode><ins0:vatNumber>21416127</ins0:vatNumber></ins0:checkVat></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"checkVat"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
      Proxy-Connection:
      - Keep-Alive
    body:
      encoding: UTF-8
      string: |-
        <soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"><soap:Body><checkVatResponse xmlns="urn:ec.europa.eu:taxud:vies:services:checkVat:types"><countryCode>LU</countryCode><vatNumber>21416127</vatNumber><requestDate>2015-03-01+01:00</requestDate><valid>true</valid><name>EBAY EUROPE S.A R.L.</name><address>22, BOULEVARD ROYAL
        L-2449  LUXEMBOURG</address></checkVatResponse></soap:Body></soap:Envelope>
  recorded_at: Sun, 01 Mar 2015 21:02:41 GMT
recorded_with: VCR 2.9.3
