---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=2&card[exp_year]=2016&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_6uBq0SMfkKrgiBZ4ZWPVSGgN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_15gKDoAQkfalJzyKSbnjFX39",
          "livemode": false,
          "created": 1426358572,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_15gKDoAQkfalJzyKbIeNw5cz",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 2,
            "exp_year": 2016,
            "fingerprint": "gNiJZFbJHY3B44bd",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": null,
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "customer": null
          },
          "client_ip": "79.34.58.182"
        }
  recorded_at: Sat, 14 Mar 2015 18:42:51 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_15gKDqAQkfalJzyKPfiJ8U6M&email=cayla%40wunsch.biz&metadata[id]=14&metadata[country_code]=IT&metadata[vat_registered]=false&metadata[name]=Miracle%20Daugherty&metadata[address]=1003%20McLaughlin%20Stream&metadata[type]=private&metadata[vat_number]=12345678&plan=YEARLY_PLAN&trial_end=1427568173
    headers:
      Authorization:
      - Bearer sk_test_6uBq0SMfkKrgiBZ4ZWPVSGgN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1426358576,
          "id": "cus_5s4M8GqToicVKY",
          "livemode": false,
          "description": null,
          "email": "cayla@wunsch.biz",
          "delinquent": false,
          "metadata": {
            "id": "14",
            "country_code": "IT",
            "vat_registered": "false",
            "name": "Miracle Daugherty",
            "address": "1003 McLaughlin Stream",
            "type": "private",
            "vat_number": "12345678"
          },
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5s4M8GqToicVKY/subscriptions",
            "data": [
              {
                "id": "sub_5s4MCtn4T8j1qY",
                "plan": {
                  "interval": "month",
                  "name": "Up\u0026Sell.Me Yearly Plan",
                  "created": 1425125519,
                  "amount": 24999,
                  "currency": "eur",
                  "id": "YEARLY_PLAN",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 12,
                  "trial_period_days": 14,
                  "metadata": {},
                  "statement_descriptor": null,
                  "statement_description": null
                },
                "object": "subscription",
                "start": 1426358576,
                "status": "trialing",
                "customer": "cus_5s4M8GqToicVKY",
                "cancel_at_period_end": false,
                "current_period_start": 1426358576,
                "current_period_end": 1427568173,
                "ended_at": null,
                "trial_start": 1426358576,
                "trial_end": 1427568173,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "tax_percent": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "eur",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5s4M8GqToicVKY/cards",
            "data": [
              {
                "id": "card_15gKDqAQkfalJzyKOOn3GGpY",
                "object": "card",
                "last4": "1111",
                "brand": "Visa",
                "funding": "unknown",
                "exp_month": 10,
                "exp_year": 2020,
                "fingerprint": "hePZlOgPfVlt1Rqb",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_5s4M8GqToicVKY"
              }
            ]
          },
          "default_card": "card_15gKDqAQkfalJzyKOOn3GGpY",
          "sources": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5s4M8GqToicVKY/sources",
            "data": [
              {
                "id": "card_15gKDqAQkfalJzyKOOn3GGpY",
                "object": "card",
                "last4": "1111",
                "brand": "Visa",
                "funding": "unknown",
                "exp_month": 10,
                "exp_year": 2020,
                "fingerprint": "hePZlOgPfVlt1Rqb",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_5s4M8GqToicVKY"
              }
            ]
          },
          "default_source": "card_15gKDqAQkfalJzyKOOn3GGpY"
        }
  recorded_at: Sat, 14 Mar 2015 18:42:55 GMT
recorded_with: VCR 2.9.3
