---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_15UeWBAQkfalJzyKIUN1OFT3&email=savion%40wunsch.org&metadata[id]=1&metadata[country_code]=FR&metadata[vat_registered]=true&metadata[name]=Krista%20Mante&metadata[address]=939%20Damion%20Pass&metadata[type]=company&metadata[vat_number]=12345678&plan=MONTHLY_PLAN&trial_end=1424786256
    headers:
      Authorization:
      - Bearer sk_test_6uBq0SMfkKrgiBZ4ZWPVSGgN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1423576656,
          "id": "cus_5g0XBvOFYg3vR6",
          "livemode": false,
          "description": null,
          "email": "savion@wunsch.org",
          "delinquent": false,
          "metadata": {
            "id": "1",
            "country_code": "FR",
            "vat_registered": "true",
            "name": "Krista Mante",
            "address": "939 Damion Pass",
            "type": "company",
            "vat_number": "12345678"
          },
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5g0XBvOFYg3vR6/subscriptions",
            "data": [
              {
                "id": "sub_5g0X8GKrtuydCZ",
                "plan": {
                  "interval": "month",
                  "name": "Monthly Plan",
                  "created": 1423480742,
                  "amount": 2499,
                  "currency": "eur",
                  "id": "MONTHLY_PLAN",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": 14,
                  "metadata": {},
                  "statement_descriptor": null,
                  "statement_description": null
                },
                "object": "subscription",
                "start": 1423576656,
                "status": "trialing",
                "customer": "cus_5g0XBvOFYg3vR6",
                "cancel_at_period_end": false,
                "current_period_start": 1423576656,
                "current_period_end": 1424786256,
                "ended_at": null,
                "trial_start": 1423576656,
                "trial_end": 1424786256,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "tax_percent": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "eur",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5g0XBvOFYg3vR6/cards",
            "data": [
              {
                "id": "card_15UeWBAQkfalJzyK5LG6mkAR",
                "object": "card",
                "last4": "1111",
                "brand": "Visa",
                "funding": "unknown",
                "exp_month": 10,
                "exp_year": 2020,
                "fingerprint": "hePZlOgPfVlt1Rqb",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "customer": "cus_5g0XBvOFYg3vR6"
              }
            ]
          },
          "default_card": "card_15UeWBAQkfalJzyK5LG6mkAR"
        }
  recorded_at: Tue, 10 Feb 2015 13:57:37 GMT
[...]
