---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_5lN0nZHTnGzQgE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_6uBq0SMfkKrgiBZ4ZWPVSGgN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1424813456,
          "id": "cus_5lN0nZHTnGzQgE",
          "livemode": false,
          "description": null,
          "email": "myrtle_ritchie@sipes.name",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5lN0nZHTnGzQgE/subscriptions",
            "data": [
              {
                "id": "sub_5lN0ZfMpEN6rN1",
                "plan": {
                  "interval": "month",
                  "name": "Monthly Plan",
                  "created": 1423480742,
                  "amount": 2499,
                  "currency": "eur",
                  "id": "MONTHLY_PLAN",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": 14,
                  "metadata": {},
                  "statement_descriptor": null,
                  "statement_description": null
                },
                "object": "subscription",
                "start": 1424813456,
                "status": "trialing",
                "customer": "cus_5lN0nZHTnGzQgE",
                "cancel_at_period_end": false,
                "current_period_start": 1424813456,
                "current_period_end": 1426023056,
                "ended_at": null,
                "trial_start": 1424813456,
                "trial_end": 1426023056,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "tax_percent": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "eur",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5lN0nZHTnGzQgE/cards",
            "data": [
              {
                "id": "card_15ZqGXAQkfalJzyKUDQiwcRZ",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 2,
                "exp_year": 2016,
                "fingerprint": "gNiJZFbJHY3B44bd",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "customer": "cus_5lN0nZHTnGzQgE"
              }
            ]
          },
          "default_card": "card_15ZqGXAQkfalJzyKUDQiwcRZ",
          "sources": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5lN0nZHTnGzQgE/sources",
            "data": [
              {
                "id": "card_15ZqGXAQkfalJzyKUDQiwcRZ",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 2,
                "exp_year": 2016,
                "fingerprint": "gNiJZFbJHY3B44bd",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "customer": "cus_5lN0nZHTnGzQgE"
              }
            ]
          },
          "default_source": "card_15ZqGXAQkfalJzyKUDQiwcRZ"
        }
  recorded_at: Tue, 24 Feb 2015 21:31:21 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_5lN0nZHTnGzQgE/subscriptions/sub_5lN0ZfMpEN6rN1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_6uBq0SMfkKrgiBZ4ZWPVSGgN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-11-05'
    body:
      encod[...]
- request:
    method: delete
    uri: https://api.stripe.com/v1/customers/cus_5lN0nZHTnGzQgE/subscriptions/sub_5lN0ZfMpEN6rN1?at_period_end=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_6uBq0SMfkKrgiBZ4ZWPVSGgN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-11-05'[...]
