---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_15Ueh4AQkfalJzyKNrFm50uf&email=skye.kunde%40moriettefritsch.info&metadata[id]=7&metadata[country_code]=CA&metadata[vat_registered]=false&metadata[name]=Miss%20Ruthe%20Weimann&metadata[address]=53921%20Elva%20Motorway&metadata[type]=private&metadata[vat_number]=12345678&plan=YEARLY_PLAN&trial_end=1424786930
    headers:
      Authorization:
      - Bearer sk_test_6uBq0SMfkKrgiBZ4ZWPVSGgN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1423577332,
          "id": "cus_5g0iIrmR1DREgI",
          "livemode": false,
          "description": null,
          "email": "skye.kunde@moriettefritsch.info",
          "delinquent": false,
          "metadata": {
            "id": "7",
            "country_code": "CA",
            "vat_registered": "false",
            "name": "Miss Ruthe Weimann",
            "address": "53921 Elva Motorway",
            "type": "private",
            "vat_number": "12345678"
          },
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5g0iIrmR1DREgI/subscriptions",
            "data": [
              {
                "id": "sub_5g0ivN4Y5D358o",
                "plan": {
                  "interval": "month",
                  "name": "Yearly Plan",
                  "created": 1423576798,
                  "amount": 2499900,
                  "currency": "eur",
                  "id": "YEARLY_PLAN",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 12,
                  "trial_period_days": 14,
                  "metadata": {},
                  "statement_descriptor": null,
                  "statement_description": null
                },
                "object": "subscription",
                "start": 1423577332,
                "status": "trialing",
                "customer": "cus_5g0iIrmR1DREgI",
                "cancel_at_period_end": false,
                "current_period_start": 1423577332,
                "current_period_end": 1424786930,
                "ended_at": null,
                "trial_start": 1423577332,
                "trial_end": 1424786930,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "tax_percent": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "eur",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5g0iIrmR1DREgI/cards",
            "data": [
              {
                "id": "card_15Ueh4AQkfalJzyKICZPU1rJ",
                "object": "card",
                "last4": "1111",
                "brand": "Visa",
                "funding": "unknown",
                "exp_month": 10,
                "exp_year": 2020,
                "fingerprint": "hePZlOgPfVlt1Rqb",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "customer": "cus_5g0iIrmR1DREgI"
              }
            ]
          },
          "default_card": "card_15Ueh4AQkfalJzyKICZPU1rJ"
        }
  recorded_at: Tue, 10 Feb 2015 14:08:53 GMT
recorded_with: VCR 2.9.3
