---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_5HP99JYHxRlJBU
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_6uBq0SMfkKrgiBZ4ZWPVSGgN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1417902213,
          "id": "cus_5HP99JYHxRlJBU",
          "livemode": false,
          "description": null,
          "email": "person1@byebye.com",
          "delinquent": false,
          "metadata": {
            "id": "1",
            "type": "private"
          },
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5HP99JYHxRlJBU/subscriptions",
            "data": [
              {
                "id": "sub_5HP9fjlJPyYHqB",
                "plan": {
                  "interval": "month",
                  "name": "Monthly App Plan",
                  "created": 1417205859,
                  "amount": 2500,
                  "currency": "eur",
                  "id": "MONTHLY_PLAN",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": 30,
                  "metadata": {},
                  "statement_description": null
                },
                "object": "subscription",
                "start": 1417902214,
                "status": "trialing",
                "customer": "cus_5HP99JYHxRlJBU",
                "cancel_at_period_end": true,
                "current_period_start": 1417902214,
                "current_period_end": 1420494214,
                "ended_at": null,
                "trial_start": 1417902214,
                "trial_end": 1420494214,
                "canceled_at": 1417902218,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "eur",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5HP99JYHxRlJBU/cards",
            "data": [
              {
                "id": "card_156qKvAQkfalJzyKYHrNY60S",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 10,
                "exp_year": 2015,
                "fingerprint": "gNiJZFbJHY3B44bd",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "customer": "cus_5HP99JYHxRlJBU"
              }
            ]
          },
          "default_card": "card_156qKvAQkfalJzyKYHrNY60S"
        }
  recorded_at: Sat, 06 Dec 2014 21:43:39 GMT
recorded_with: VCR 2.9.2
