---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: email=rosamond_fadel%40heller.com&metadata[id]=7&metadata[country_code]=IT&metadata[vat_registered]=false&metadata[name]=Elenor%20Ernser&metadata[address]=48234%20Camilla%20Underpass&metadata[type]=private&metadata[vat_number]=12345678&plan=MONTHLY_PLAN&trial_end=1424692006
    headers:
      Authorization:
      - Bearer sk_test_6uBq0SMfkKrgiBZ4ZWPVSGgN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1423482410,
          "id": "cus_5fbCul9cghneFw",
          "livemode": false,
          "description": null,
          "email": "rosamond_fadel@heller.com",
          "delinquent": false,
          "metadata": {
            "id": "7",
            "country_code": "IT",
            "vat_registered": "false",
            "name": "Elenor Ernser",
            "address": "48234 Camilla Underpass",
            "type": "private",
            "vat_number": "12345678"
          },
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5fbCul9cghneFw/subscriptions",
            "data": [
              {
                "id": "sub_5fbCA1IhVWPvUb",
                "plan": {
                  "interval": "month",
                  "name": "Monthly Plan",
                  "created": 1423480742,
                  "amount": 2499,
                  "currency": "eur",
                  "id": "MONTHLY_PLAN",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": 14,
                  "metadata": {},
                  "statement_descriptor": null,
                  "statement_description": null
                },
                "object": "subscription",
                "start": 1423482410,
                "status": "trialing",
                "customer": "cus_5fbCul9cghneFw",
                "cancel_at_period_end": false,
                "current_period_start": 1423482410,
                "current_period_end": 1424692006,
                "ended_at": null,
                "trial_start": 1423482410,
                "trial_end": 1424692006,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "tax_percent": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "eur",
          "cards": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_5fbCul9cghneFw/cards",
            "data": []
          },
          "default_card": null
        }
  recorded_at: Mon, 09 Feb 2015 11:46:53 GMT
recorded_with: VCR 2.9.3
