---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_15ZqbJAQkfalJzyK99kSMU5F&email=talon%40spencer.info&metadata[id]=1&metadata[country_code]=IT&metadata[vat_registered]=true&metadata[name]=Norene%20Rutherford&metadata[address]=27203%20Price%20Pines&metadata[type]=company&metadata[vat_number]=12345678&plan=MONTHLY_PLAN&trial_end=1426024339
    headers:
      Authorization:
      - Bearer sk_test_6uBq0SMfkKrgiBZ4ZWPVSGgN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1424814753,
          "id": "cus_5lNM2Beq8ToshL",
          "livemode": false,
          "description": null,
          "email": "talon@spencer.info",
          "delinquent": false,
          "metadata": {
            "id": "1",
            "country_code": "IT",
            "vat_registered": "true",
            "name": "Norene Rutherford",
            "address": "27203 Price Pines",
            "type": "company",
            "vat_number": "12345678"
          },
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5lNM2Beq8ToshL/subscriptions",
            "data": [
              {
                "id": "sub_5lNMTVcXHoT6Jp",
                "plan": {
                  "interval": "month",
                  "name": "Monthly Plan",
                  "created": 1423480742,
                  "amount": 2499,
                  "currency": "eur",
                  "id": "MONTHLY_PLAN",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": 14,
                  "metadata": {},
                  "statement_descriptor": null,
                  "statement_description": null
                },
                "object": "subscription",
                "start": 1424814753,
                "status": "trialing",
                "customer": "cus_5lNM2Beq8ToshL",
                "cancel_at_period_end": false,
                "current_period_start": 1424814753,
                "current_period_end": 1426024339,
                "ended_at": null,
                "trial_start": 1424814753,
                "trial_end": 1426024339,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "tax_percent": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "eur",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5lNM2Beq8ToshL/cards",
            "data": [
              {
                "id": "card_15ZqbJAQkfalJzyKj4vuEkYd",
                "object": "card",
                "last4": "1111",
                "brand": "Visa",
                "funding": "unknown",
                "exp_month": 10,
                "exp_year": 2020,
                "fingerprint": "hePZlOgPfVlt1Rqb",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "customer": "cus_5lNM2Beq8ToshL"
              }
            ]
          },
          "default_card": "card_15ZqbJAQkfalJzyKj4vuEkYd",
          "sources": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5lNM2Beq8ToshL/sources",
            "data": [
              {
                "id": "card_15ZqbJAQkfalJzyKj4vuEkYd",
                "object": "card",
                "last4": "1111",
                "brand": "Visa",
                "funding": "unknown",
                "exp_month": 10,
                "exp_year": 2020,
                "fingerprint": "hePZlOgPfVlt1Rqb",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "customer": "cus_5lNM2Beq8ToshL"
              }
            ]
          },
          "default_source": "card_15ZqbJAQkfalJzyKj4vuEkYd"
        }
  recorded_at: Tue, 24 Feb 2015 21:52:32 GMT
recorded_with: VCR 2.9.3
