---
http_interactions:
- request:
    method: post
    uri: https://www.sandbox.paypal.com/cgi-bin/webscr
    body:
      encoding: UTF-8
      string: cmd=_notify-validate&pay_key=AP-5N576627JY9522600&sender_email=mail%40roccogalluzzo&status=completed
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Cnection:
      - close
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: VERIFIED
  recorded_at: Wed, 21 May 2014 16:33:15 GMT
- request:
    method: get
    uri: http://localhost:9292/api/v1/orders?gateway_token=AP-5N576627JY9522600
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"id":28,"product_id":2,"token":"tSykHXrRXrwnKvPwbF8Dzg","user_id":1,"email":"placeholder@paypal.com","amount":50,"currency":"USD","status":"created","gateway":"paypal","gateway_token":"AP-5N576627JY9522600","payment_details":{"card":"paypal"},"n_downloads":0,"closed_at":null,"buyer_accepts_marketing":null}]'
  recorded_at: Wed, 21 May 2014 16:34:57 GMT
- request:
    method: put
    uri: http://localhost:9292/api/v1/orders/28
    body:
      encoding: UTF-8
      string: amount=50&buyer_accepts_marketing=&currency=USD&email=mail%40roccogalluzzo&gateway=paypal&gateway_token=AP-5N576627JY9522600&ip=&n_downloads=0&payment_details%5Bcard%5D=paypal&product_id=2&status=closed&user_id=1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":28,"product_id":2,"token":"tSykHXrRXrwnKvPwbF8Dzg","user_id":1,"email":"mail@roccogalluzzo","amount":50,"currency":"USD","status":"closed","gateway":"paypal","gateway_token":"AP-5N576627JY9522600","payment_details":{"card":"paypal"},"n_downloads":0,"closed_at":"2014-05-21T18:35:08+02:00","buyer_accepts_marketing":null}'
  recorded_at: Wed, 21 May 2014 16:35:08 GMT
[...]
- request:
    method: get
    uri: http://localhost:9292/api/v1/products/2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":2,"name":"ciao","file":{"key":"uploads/products/6aa79215-d52a-4b0b-be2f-a5f39604ba49/_katproxy.com_the.walking.dead.s04e14.hdtv.x264.2hd.ettv.torrent","name":"_katproxy.com_the.walking.dead.s04e14.hdtv.x264.2hd.ettv.torrent","ext":".torrent"},"price":50,"currency":"USD","user_id":1,"slug":"n5s0zz","published":true,"description":"","preview":{"full":"http://placehold.it/350x150","thumb":"http://placehold.it/350x150"}}'
  recorded_at: Wed, 21 May 2014 16:42:45 GMT
recorded_with: VCR 2.9.0
