---
http_interactions:
- request:
    method: post
    uri: https://svcs.sandbox.paypal.com/Permissions/GetAccessToken
    body:
      encoding: UTF-8
      string: '{"requestEnvelope":{"errorLanguage":"en_US"},"token":"AAAAZ6-lEF6DxKBwh","verifier":"M.TMIZXa61gEo6Qtm33xFA"}'
    headers:
      X-Paypal-Security-Userid:
      - paypal-facilitator_api1.upandsell.me
      X-Paypal-Security-Password:
      - '1397145109'
      X-Paypal-Application-Id:
      - APP-80W284485P519543T
      X-Paypal-Sandbox-Email-Address:
      - paypal-facilitator@upandsell.me
      X-Paypal-Security-Signature:
      - AFcWxV21C7fd0v3bYYYRCpSSRl31AgtEdy0k9Q0TW737D.pzUB2OP6Ot
      X-Paypal-Request-Data-Format:
      - JSON
      X-Paypal-Response-Data-Format:
      - JSON
      X-Paypal-Request-Source:
      - permissions-ruby-sdk-1.96.3
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Paypal-Message-Protocol:
      - NONE
      X-Paypal-Response-Data-Format:
      - JSON
      X-Ebay-Soa-Request-Id:
      - 146720bd-e4f0-a486-d633-3f03ffffa145!Permissions!10.72.109.99![]
      X-Paypal-Operation-Name:
      - GetAccessToken
      X-Paypal-Service-Name:
      - "{http://svcs.paypal.com/types/perm}Permissions"
      X-Paypal-Service-Version:
      - 1.0.0
      X-Paypal-Error-Response:
      - 'TRUE'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"responseEnvelope":{"timestamp":"2014-06-06T09:38:39.108-07:00","ack":"Failure","correlationId":"20ae410db80f5","build":"2210301"},"error":[{"errorId":"580022","domain":"PLATFORM","subdomain":"Application","severity":"Error","category":"Application","message":"Invalid
        request parameter: {0}","parameter":["token"]}]}'
  recorded_at: Fri, 06 Jun 2014 16:38:40 GMT
recorded_with: VCR 2.9.0
