---
http_interactions:
- request:
    method: post
    uri: https://svcs.sandbox.paypal.com/Permissions/GetAccessToken
    body:
      encoding: UTF-8
      string: '{"requestEnvelope":{"errorLanguage":"en_US"},"token":"AAAAAAAZ6-lEF6DxKBwh","verifier":"M.TMIZXa61gEo6Qtm33xFA"}'
    headers:
      X-Paypal-Security-Userid:
      - paypal-facilitator_api1.upandsell.me
      X-Paypal-Security-Password:
      - '1397145109'
      X-Paypal-Application-Id:
      - APP-80W284485P519543T
      X-Paypal-Sandbox-Email-Address:
      - paypal-facilitator@upandsell.me
      X-Paypal-Security-Signature:
      - AFcWxV21C7fd0v3bYYYRCpSSRl31AgtEdy0k9Q0TW737D.pzUB2OP6Ot
      X-Paypal-Request-Data-Format:
      - JSON
      X-Paypal-Response-Data-Format:
      - JSON
      X-Paypal-Request-Source:
      - permissions-ruby-sdk-1.96.3
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Paypal-Message-Protocol:
      - NONE
      X-Paypal-Response-Data-Format:
      - JSON
      X-Ebay-Soa-Request-Id:
      - 1467200c-b7c0-a486-d633-3f03ffffa14b!Permissions!10.72.109.99![]
      X-Paypal-Operation-Name:
      - GetAccessToken
      X-Paypal-Service-Name:
      - "{http://svcs.paypal.com/types/perm}Permissions"
      X-Paypal-Service-Version:
      - 1.0.0
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"responseEnvelope":{"timestamp":"2014-06-06T09:26:33.429-07:00","ack":"Success","correlationId":"2308604f095c8","build":"2210301"},"scope":["REFUND","ACCESS_BASIC_PERSONAL_DATA"],"token":"bpEXgzx-TiNTkeu5xkH29I53jAfyM59iyyN6SiULBcs8y.6UXamIQg","tokenSecret":"7616Q-9zgPr-uBgQ5nWEEVHZx2E"}'
  recorded_at: Fri, 06 Jun 2014 16:26:34 GMT
- request:
    method: post
    uri: https://svcs.sandbox.paypal.com/Permissions/GetBasicPersonalData
    body:
      encoding: UTF-8
      string: '{"requestEnvelope":{"errorLanguage":"en_US"},"attributeList":{"attribute":["https://www.paypal.com/webapps/auth/schema/payerID"]}}'
    headers:
      X-Paypal-Application-Id:
      - APP-80W284485P519543T
      X-Paypal-Sandbox-Email-Address:
      - paypal-facilitator@upandsell.me
      X-Paypal-Authorization:
      - token=bpEXgzx-TiNTkeu5xkH29I53jAfyM59iyyN6SiULBcs8y.6UXamIQg,signature=AlIkHt1P4yeFbJ2wsh18RCZZRYM=,timestamp=1402071994
      X-Paypal-Request-Data-Format:
      - JSON
      X-Paypal-Response-Data-Format:
      - JSON
      X-Paypal-Request-Source:
      - permissions-ruby-sdk-1.96.3
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Paypal-Message-Protocol:
      - NONE
      X-Paypal-Response-Data-Format:
      - JSON
      X-Ebay-Soa-Request-Id:
      - 1467200d-1c60-a486-d633-3f03ffffa14a!Permissions!10.72.109.99![]
      X-Paypal-Operation-Name:
      - GetBasicPersonalData
      X-Paypal-Service-Name:
      - "{http://svcs.paypal.com/types/perm}Permissions"
      X-Paypal-Service-Version:
      - 1.0.0
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"responseEnvelope":{"timestamp":"2014-06-06T09:26:35.025-07:00","ack":"Success","correlationId":"1f46363a08f73","build":"2210301"},"response":{"personalData":[{"personalDataKey":"https:\/\/www.paypal.com\/webapps\/auth\/schema\/payerID","personalDataValue":"GHF9V4LYLC7RU"}]}}'
  recorded_at: Fri, 06 Jun 2014 16:26:36 GMT
recorded_with: VCR 2.9.0
