---
http_interactions:
- request:
    method: post
    uri: https://svcs.sandbox.paypal.com/Permissions/GetAccessToken
    body:
      encoding: UTF-8
      string: '{"requestEnvelope":{"errorLanguage":"en_US"},"token":"AAAAAAAcrl.7mjcjpKjl","verifier":"H2Iew8OWbpaUS4AIql70Pw"}'
    headers:
      X-Paypal-Security-Userid:
      - paypal_api1.galluzzo.me
      X-Paypal-Security-Password:
      - 7KUSGBREC2CPCV6Z
      X-Paypal-Application-Id:
      - APP-80W284485P519543T
      X-Paypal-Sandbox-Email-Address:
      - paypal@upandsell.me
      X-Paypal-Security-Signature:
      - Acjh9bsTgq2jtPSUrdTHavt9Fu.jAkv2NBeHP-egg5nDSmAIRmKL5Oov
      X-Paypal-Request-Data-Format:
      - JSON
      X-Paypal-Response-Data-Format:
      - JSON
      X-Paypal-Request-Source:
      - permissions-ruby-sdk-1.96.4
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Paypal-Message-Protocol:
      - NONE
      X-Paypal-Response-Data-Format:
      - JSON
      X-Ebay-Soa-Request-Id:
      - 14bee8ef-be80-a487-1b37-2257ffffa314!Permissions!10.72.113.179![]
      X-Paypal-Operation-Name:
      - GetAccessToken
      X-Paypal-Service-Name:
      - "{http://svcs.paypal.com/types/perm}Permissions"
      X-Paypal-Service-Version:
      - 1.0.0
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"responseEnvelope":{"timestamp":"2015-03-06T02:08:43.177-08:00","ack":"Success","correlationId":"2ea5935dea702","build":"2210301"},"scope":["REFUND","ACCESS_BASIC_PERSONAL_DATA"],"token":"UtGDhIvhjXlU-XyrxkH29I5363WrOVv7fHzbVGrOOvjtTR-16BIHkg","tokenSecret":"sN9WxbqCvU.9KYImGNjj.oL.C8Y"}'
  recorded_at: Fri, 06 Mar 2015 10:08:43 GMT
- request:
    method: post
    uri: https://svcs.sandbox.paypal.com/Permissions/GetBasicPersonalData
    body:
      encoding: UTF-8
      string: '{"requestEnvelope":{"errorLanguage":"en_US"},"attributeList":{"attribute":["https://www.paypal.com/webapps/auth/schema/payerID"]}}'
    headers:
      X-Paypal-Application-Id:
      - APP-80W284485P519543T
      X-Paypal-Sandbox-Email-Address:
      - paypal@upandsell.me
      X-Paypal-Authorization:
      - token=UtGDhIvhjXlU-XyrxkH29I5363WrOVv7fHzbVGrOOvjtTR-16BIHkg,signature=8KqPPAeSVyZvMFUsMX+l7fhHuH0=,timestamp=1425636523
      X-Paypal-Request-Data-Format:
      - JSON
      X-Paypal-Response-Data-Format:
      - JSON
      X-Paypal-Request-Source:
      - permissions-ruby-sdk-1.96.4
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Paypal-Message-Protocol:
      - NONE
      X-Paypal-Response-Data-Format:
      - JSON
      X-Ebay-Soa-Request-Id:
      - 14bee8f0-33e0-a488-7886-9c36ffffa32d!Permissions!10.72.135.136![]
      X-Paypal-Operation-Name:
      - GetBasicPersonalData
      X-Paypal-Service-Name:
      - "{http://svcs.paypal.com/types/perm}Permissions"
      X-Paypal-Service-Version:
      - 1.0.0
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"responseEnvelope":{"timestamp":"2015-03-06T02:08:45.049-08:00","ack":"Success","correlationId":"c52ac226f5fec","build":"2210301"},"response":{"personalData":[{"personalDataKey":"https:\/\/www.paypal.com\/webapps\/auth\/schema\/payerID","personalDataValue":"2V7BJQA9VJTL8"}]}}'
  recorded_at: Fri, 06 Mar 2015 10:08:45 GMT
recorded_with: VCR 2.9.3
