---
http_interactions:
- request:
    method: post
    uri: https://svcs.sandbox.paypal.com/Permissions/GetAccessToken
    body:
      encoding: UTF-8
      string: '{"requestEnvelope":{"errorLanguage":"en_US"},"token":"AAAAAAAZ6-lEF6DxKBwh","verifier":"M.TMIZXa61gEo6Qtm33xFA"}'
    headers:
      X-Paypal-Security-Userid:
      - paypal_api1.upandsell.me
      X-Paypal-Security-Password:
      - 4E5UCPB57PG6YNF9
      X-Paypal-Application-Id:
      - APP-8V434817UH486471B
      X-Paypal-Sandbox-Email-Address:
      - paypal@upandsell.me
      X-Paypal-Security-Signature:
      - sPxQ1QE08pceY0JRUjrNP0wGOlZAXh73eD9RNsGgSmy-YtVDg06-AGx
      X-Paypal-Request-Data-Format:
      - JSON
      X-Paypal-Response-Data-Format:
      - JSON
      X-Paypal-Request-Source:
      - permissions-ruby-sdk-1.96.4
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Paypal-Message-Protocol:
      - NONE
      X-Paypal-Response-Data-Format:
      - JSON
      X-Ebay-Soa-Request-Id:
      - 14b7529e-7bb0-a487-1b37-2257ffffc39a!Permissions!10.72.113.179![]
      X-Paypal-Operation-Name:
      - GetAccessToken
      X-Paypal-Service-Name:
      - "{http://svcs.paypal.com/types/perm}Permissions"
      X-Paypal-Service-Version:
      - 1.0.0
      X-Paypal-Error-Response:
      - 'TRUE'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"responseEnvelope":{"timestamp":"2015-02-10T12:24:15.550-08:00","ack":"Failure","correlationId":"2f9b89729dbde","build":"2210301"},"error":[{"errorId":"560022","domain":"PLATFORM","subdomain":"Application","severity":"Error","category":"Application","message":"The
        X-PAYPAL-APPLICATION-ID header contains an invalid value","parameter":["X-PAYPAL-APPLICATION-ID"]}]}'
  recorded_at: Tue, 10 Feb 2015 20:24:16 GMT
recorded_with: VCR 2.9.3
