---
http_interactions:
- request:
    method: post
    uri: https://svcs.sandbox.paypal.com/Permissions/RequestPermissions
    body:
      encoding: UTF-8
      string: '{"requestEnvelope":{"errorLanguage":"en_US"},"scope":["REFUND","ACCESS_BASIC_PERSONAL_DATA"],"callback":"http://www.example.com/user/settings/add_paypal_callback?gateway=paypal"}'
    headers:
      X-Paypal-Security-Userid:
      - paypal-facilitator_api1.upandsell.me
      X-Paypal-Security-Password:
      - '1397145109'
      X-Paypal-Application-Id:
      - APP-80W284485P519543T
      X-Paypal-Sandbox-Email-Address:
      - paypal-facilitator@upandsell.me
      X-Paypal-Security-Signature:
      - AFcWxV21C7fd0v3bYYYRCpSSRl31AgtEdy0k9Q0TW737D.pzUB2OP6Ot
      X-Paypal-Request-Data-Format:
      - JSON
      X-Paypal-Response-Data-Format:
      - JSON
      X-Paypal-Request-Source:
      - permissions-ruby-sdk-1.96.3
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Paypal-Message-Protocol:
      - NONE
      X-Paypal-Response-Data-Format:
      - JSON
      X-Ebay-Soa-Request-Id:
      - 146712f2-a230-a486-d644-6d04ffffa4e5!Permissions!10.72.109.100![]
      X-Paypal-Operation-Name:
      - RequestPermissions
      X-Paypal-Service-Name:
      - "{http://svcs.paypal.com/types/perm}Permissions"
      X-Paypal-Service-Version:
      - 1.0.0
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"responseEnvelope":{"timestamp":"2014-06-06T05:37:35.079-07:00","ack":"Success","correlationId":"d1108512f7139","build":"2210301"},"token":"AAAAAAAZ6uD5S3UMSgAQ"}'
  recorded_at: Fri, 06 Jun 2014 12:37:35 GMT
recorded_with: VCR 2.9.0
