---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=2&card[exp_year]=2016&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_6uBq0SMfkKrgiBZ4ZWPVSGgN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_15ZqiYAQkfalJzyK5cwcTrzk",
          "livemode": false,
          "created": 1424815190,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_15ZqiYAQkfalJzyKCPxeC5kS",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 2,
            "exp_year": 2016,
            "fingerprint": "gNiJZFbJHY3B44bd",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": null,
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "customer": null
          },
          "client_ip": "79.34.101.6"
        }
  recorded_at: Tue, 24 Feb 2015 21:59:48 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_15ZqiYAQkfalJzyK5cwcTrzk&email=gardner.bechtelar%40bruen.org&metadata[id]=1&metadata[country_code]=IT&metadata[vat_registered]=false&metadata[name]=Jeanette%20Thompson&metadata[address]=89275%20Aufderhar%20Pike&metadata[type]=private&metadata[vat_number]=12345678&plan=MONTHLY_PLAN&trial_end=1426024788
    headers:
      Authorization:
      - Bearer sk_test_6uBq0SMfkKrgiBZ4ZWPVSGgN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1424815195,
          "id": "cus_5lNTkyNyl4zBrE",
          "livemode": false,
          "description": null,
          "email": "gardner.bechtelar@bruen.org",
          "delinquent": false,
          "metadata": {
            "id": "1",
            "country_code": "IT",
            "vat_registered": "false",
            "name": "Jeanette Thompson",
            "address": "89275 Aufderhar Pike",
            "type": "private",
            "vat_number": "12345678"
          },
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5lNTkyNyl4zBrE/subscriptions",
            "data": [
              {
                "id": "sub_5lNTUAawxXx1DJ",
                "plan": {
                  "interval": "month",
                  "name": "Monthly Plan",
                  "created": 1423480742,
                  "amount": 2499,
                  "currency": "eur",
                  "id": "MONTHLY_PLAN",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": 14,
                  "metadata": {},
                  "statement_descriptor": null,
                  "statement_description": null
                },
                "object": "subscription",
                "start": 1424815195,
                "status": "trialing",
                "customer": "cus_5lNTkyNyl4zBrE",
                "cancel_at_period_end": false,
                "current_period_start": 1424815195,
                "current_period_end": 1426024788,
                "ended_at": null,
                "trial_start": 1424815195,
                "trial_end": 1426024788,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "tax_percent": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "eur",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5lNTkyNyl4zBrE/cards",
            "data": [
              {
                "id": "card_15ZqiYAQkfalJzyKCPxeC5kS",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 2,
                "exp_year": 2016,
                "fingerprint": "gNiJZFbJHY3B44bd",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "customer": "cus_5lNTkyNyl4zBrE"
              }
            ]
          },
          "default_card": "card_15ZqiYAQkfalJzyKCPxeC5kS",
          "sources": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5lNTkyNyl4zBrE/sources",
            "data": [
              {
                "id": "card_15ZqiYAQkfalJzyKCPxeC5kS",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 2,
                "exp_year": 2016,
                "fingerprint": "gNiJZFbJHY3B44bd",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "customer": "cus_5lNTkyNyl4zBrE"
              }
            ]
          },
          "default_source": "card_15ZqiYAQkfalJzyKCPxeC5kS"
        }
  recorded_at: Tue, 24 Feb 2015 21:59:54 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_5lNTkyNyl4zBrE/subscriptions
    body:
      encoding: US-ASCII
      string: plan=test&trial_end=1424816200
    headers:
      Authorization:
      - Bearer sk_test_6uBq0SMfkKrgiBZ4ZWPVSGgN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "type": "invalid_request_error",
            "message": "Can't combine currencies on a single customer. This customer has had a subscription, coupon, or invoice item with currency eur"
          }
        }
  recorded_at: Tue, 24 Feb 2015 22:00:03 GMT
recorded_with: VCR 2.9.3
