---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=2&card[exp_year]=2016&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_6uBq0SMfkKrgiBZ4ZWPVSGgN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_15ZqvoAQkfalJzyKuHqvFyPj",
          "livemode": false,
          "created": 1424816012,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_15ZqvoAQkfalJzyKTQQ8K8n2",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 2,
            "exp_year": 2016,
            "fingerprint": "gNiJZFbJHY3B44bd",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": null,
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "customer": null
          },
          "client_ip": "79.34.101.6"
        }
  recorded_at: Tue, 24 Feb 2015 22:13:30 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_15ZqvoAQkfalJzyKuHqvFyPj&email=yolanda%40weber.biz&metadata[id]=7&metadata[country_code]=IT&metadata[vat_registered]=false&metadata[name]=Thalia%20Luettgen&metadata[address]=2722%20Conn%20Junctions&metadata[type]=private&metadata[vat_number]=12345678&plan=MONTHLY_PLAN&trial_end=1426025610
    headers:
      Authorization:
      - Bearer sk_test_6uBq0SMfkKrgiBZ4ZWPVSGgN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1424816014,
          "id": "cus_5lNhOcdD7EHQ2z",
          "livemode": false,
          "description": null,
          "email": "yolanda@weber.biz",
          "delinquent": false,
          "metadata": {
            "id": "7",
            "country_code": "IT",
            "vat_registered": "false",
            "name": "Thalia Luettgen",
            "address": "2722 Conn Junctions",
            "type": "private",
            "vat_number": "12345678"
          },
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5lNhOcdD7EHQ2z/subscriptions",
            "data": [
              {
                "id": "sub_5lNhckhJSYAuVh",
                "plan": {
                  "interval": "month",
                  "name": "Monthly Plan",
                  "created": 1424815983,
                  "amount": 2499,
                  "currency": "eur",
                  "id": "MONTHLY_PLAN",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": 14,
                  "metadata": {},
                  "statement_descriptor": null,
                  "statement_description": null
                },
                "object": "subscription",
                "start": 1424816014,
                "status": "trialing",
                "customer": "cus_5lNhOcdD7EHQ2z",
                "cancel_at_period_end": false,
                "current_period_start": 1424816014,
                "current_period_end": 1426025610,
                "ended_at": null,
                "trial_start": 1424816014,
                "trial_end": 1426025610,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "tax_percent": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "eur",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5lNhOcdD7EHQ2z/cards",
            "data": [
              {
                "id": "card_15ZqvoAQkfalJzyKTQQ8K8n2",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 2,
                "exp_year": 2016,
                "fingerprint": "gNiJZFbJHY3B44bd",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "customer": "cus_5lNhOcdD7EHQ2z"
              }
            ]
          },
          "default_card": "card_15ZqvoAQkfalJzyKTQQ8K8n2",
          "sources": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5lNhOcdD7EHQ2z/sources",
            "data": [
              {
                "id": "card_15ZqvoAQkfalJzyKTQQ8K8n2",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 2,
                "exp_year": 2016,
                "fingerprint": "gNiJZFbJHY3B44bd",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "customer": "cus_5lNhOcdD7EHQ2z"
              }
            ]
          },
          "default_source": "card_15ZqvoAQkfalJzyKTQQ8K8n2"
        }
  recorded_at: Tue, 24 Feb 2015 22:13:32 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/invoiceitems
    body:
      encoding: US-ASCII
      string: customer=cus_5lNhOcdD7EHQ2z&amount=100&currency=eur
    headers:
      Authorization:
      - Bearer sk_test_6uBq0SMfkKrgiBZ4ZWPVSGgN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "invoiceitem",
          "id": "ii_15ZqvsAQkfalJzyKQUgLL0R1",
          "date": 1424816016,
          "amount": 100,
          "livemode": false,
          "proration": false,
          "currency": "eur",
          "customer": "cus_5lNhOcdD7EHQ2z",
          "description": null,
          "metadata": {},
          "invoice": null,
          "subscription": null,
          "quantity": null,
          "plan": null
        }
  recorded_at: Tue, 24 Feb 2015 22:13:34 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/invoices
    body:
      encoding: US-ASCII
      string: customer=cus_5lNhOcdD7EHQ2z
    headers:
      Authorization:
      - Bearer sk_test_6uBq0SMfkKrgiBZ4ZWPVSGgN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: |
        {
          "date": 1424816018,
          "id": "in_15ZqvuAQkfalJzyKzS50Xhio",
          "period_start": 1424816014,
          "period_end": 1424816018,
          "lines": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/invoices/in_15ZqvuAQkfalJzyKzS50Xhio/lines",
            "data": [
              {
                "id": "ii_15ZqvsAQkfalJzyKQUgLL0R1",
                "object": "line_item",
                "type": "invoiceitem",
                "livemode": false,
                "amount": 100,
                "currency": "eur",
                "proration": false,
                "period": {
                  "start": 1424816016,
                  "end": 1424816016
                },
                "subscription": null,
                "quantity": null,
                "plan": null,
                "description": null,
                "metadata": {}
              }
            ]
          },
          "subtotal": 100,
          "total": 100,
          "customer": "cus_5lNhOcdD7EHQ2z",
          "object": "invoice",
          "attempted": false,
          "closed": false,
          "forgiven": false,
          "paid": false,
          "livemode": false,
          "attempt_count": 0,
          "amount_due": 100,
          "currency": "eur",
          "starting_balance": 0,
          "ending_balance": null,
          "next_payment_attempt": 1424819618,
          "webhooks_delivered_at": null,
          "charge": null,
          "discount": null,
          "application_fee": null,
          "subscription": null,
          "tax_percent": null,
          "tax": null,
          "metadata": {},
          "statement_descriptor": null,
          "description": null,
          "receipt_number": null,
          "statement_description": null
        }
  recorded_at: Tue, 24 Feb 2015 22:13:37 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices/in_15ZqvuAQkfalJzyKzS50Xhio
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_6uBq0SMfkKrgiBZ4ZWPVSGgN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_5lNhOcdD7EHQ2z
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_6uBq0SMfkKrgiBZ4ZWPVSGgN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: |
      [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/invoiceitems
    body:
      encoding: US-ASCII
      string: customer=cus_5lNhOcdD7EHQ2z&invoice=in_15ZqvuAQkfalJzyKzS50Xhio&amount=22&currency=eur&description=VAT%20(22%25)&metadata[type]=vat&metadata[rate]=22
    headers:
      Authorization:
      - Bearer sk_test_6uBq0SMfkKrgiBZ4ZWPVSGgN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "invoiceitem",
          "id": "ii_15Zqw1AQkfalJzyKb2vNyVTN",
          "date": 1424816025,
          "amount": 22,
          "livemode": false,
          "proration": false,
          "currency": "eur",
          "customer": "cus_5lNhOcdD7EHQ2z",
          "description": "VAT (22%)",
          "metadata": {
            "type": "vat",
            "rate": "22"
          },
          "invoice": "in_15ZqvuAQkfalJzyKzS50Xhio",
          "subscription": null,
          "quantity": null,
          "plan": null
        }
  recorded_at: Tue, 24 Feb 2015 22:13:43 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices?customer=cus_5lNhOcdD7EHQ2z
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_6uBq0SMfkKrgiBZ4ZWPVSGgN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: [...]
[...]
