---
http_interactions:
- request:
    method: post
    uri: https://svcs.sandbox.paypal.com/AdaptivePayments/Refund
    body:
      encoding: UTF-8
      string: '{"requestEnvelope":{"errorLanguage":"en_US"},"payKey":"AP-6S388162S0527214K"}'
    headers:
      X-Paypal-Security-Userid:
      - paypal_api1.galluzzo.me
      X-Paypal-Security-Password:
      - 7KUSGBREC2CPCV6Z
      X-Paypal-Application-Id:
      - APP-80W284485P519543T
      X-Paypal-Sandbox-Email-Address:
      - paypal@upandsell.me
      X-Paypal-Security-Signature:
      - Acjh9bsTgq2jtPSUrdTHavt9Fu.jAkv2NBeHP-egg5nDSmAIRmKL5Oov
      X-Paypal-Request-Data-Format:
      - JSON
      X-Paypal-Response-Data-Format:
      - JSON
      X-Paypal-Request-Source:
      - adaptivepayments-ruby-sdk-1.117.0
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ebay-Soa-Request-Id:
      - 14c1f448-3450-a488-6780-8243fff7ac0e!AdaptivePayments!10.72.134.120![]
      X-Paypal-Service-Version:
      - 1.0.0
      X-Paypal-Service-Name:
      - "{http://svcs.paypal.com/types/ap}AdaptivePayments"
      X-Ebay-Soa-Response-Data-Format:
      - JSON
      X-Paypal-Operation-Name:
      - Refund
      X-Ebay-Soa-Message-Protocol:
      - NONE
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"responseEnvelope":{"timestamp":"2015-03-15T14:08:46.826-07:00","ack":"Success","correlationId":"f61962d1cd0b4","build":"15743565"},"currencyCode":"EUR","refundInfoList":{"refundInfo":[{"receiver":{"amount":"5.00","email":"angelo@rocco.com"},"refundStatus":"REFUNDED","refundNetAmount":"5.00","refundFeeAmount":"0.00","refundGrossAmount":"5.00","totalOfAllRefunds":"5.00","refundHasBecomeFull":"true"}]}}'
  recorded_at: Sun, 15 Mar 2015 21:08:46 GMT
recorded_with: VCR 2.9.3
