---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_fake
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_6uBq0SMfkKrgiBZ4ZWPVSGgN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "type": "invalid_request_error",
            "message": "No such customer: cus_fake",
            "param": "id"
          }
        }
  recorded_at: Sun, 08 Mar 2015 17:17:51 GMT
recorded_with: VCR 2.9.3
