---
http_interactions:
- request:
    method: post
    uri: https://svcs.sandbox.paypal.com/AdaptivePayments/Pay
    body:
      encoding: UTF-8
      string: '{"requestEnvelope":{"errorLanguage":"en_US"},"actionType":"CREATE","cancelUrl":"http://ciao.com","currencyCode":"USD","ipnNotificationUrl":"http://upandsell.ngrok.com/checkout/ipn","receiverList":{"receiver":[{"amount":300.0}]},"returnUrl":"http://ciao.com&payKey=${payKey}"}'
    headers:
      X-Paypal-Security-Userid:
      - paypal_api1.galluzzo.me
      X-Paypal-Security-Password:
      - 7KUSGBREC2CPCV6Z
      X-Paypal-Application-Id:
      - APP-80W284485P519543T
      X-Paypal-Sandbox-Email-Address:
      - paypal@upandsell.me
      X-Paypal-Security-Signature:
      - Acjh9bsTgq2jtPSUrdTHavt9Fu.jAkv2NBeHP-egg5nDSmAIRmKL5Oov
      X-Paypal-Request-Data-Format:
      - JSON
      X-Paypal-Response-Data-Format:
      - JSON
      X-Paypal-Request-Source:
      - adaptivepayments-ruby-sdk-1.117.0
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ebay-Soa-Request-Id:
      - 14bfa23b-d930-a488-6782-c40cff516b71!AdaptivePayments!10.72.134.120![]
      X-Paypal-Service-Version:
      - 1.0.0
      X-Paypal-Service-Name:
      - "{http://svcs.paypal.com/types/ap}AdaptivePayments"
      X-Ebay-Soa-Response-Data-Format:
      - JSON
      X-Paypal-Operation-Name:
      - Pay
      X-Paypal-Error-Response:
      - 'TRUE'
      X-Ebay-Soa-Message-Protocol:
      - NONE
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"responseEnvelope":{"timestamp":"2015-03-08T09:07:01.335-07:00","ack":"Failure","correlationId":"937bee8fd291d","build":"15089777"},"error":[{"errorId":"580001","domain":"PLATFORM","subdomain":"Application","severity":"Error","category":"Application","message":"Invalid
        request: None of the fields are specified to identify a receiver"}]}'
  recorded_at: Sun, 08 Mar 2015 16:07:00 GMT
recorded_with: VCR 2.9.3
