---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=2&card[exp_year]=2016&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_6uBq0SMfkKrgiBZ4ZWPVSGgN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_15bea2AQkfalJzyKruo1AtqY",
          "livemode": false,
          "created": 1425245190,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_15bea2AQkfalJzyKBqcuMtiH",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 2,
            "exp_year": 2016,
            "fingerprint": "gNiJZFbJHY3B44bd",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": null,
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "customer": null
          },
          "client_ip": "79.34.101.6"
        }
  recorded_at: Sun, 01 Mar 2015 21:26:29 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_15bea2AQkfalJzyKruo1AtqY&email=araceli_baumbach%40kling.name&metadata[id]=10&metadata[country_code]=IT&metadata[vat_registered]=false&metadata[name]=Juvenal%20Rolfson&metadata[address]=56267%20Shayna%20Throughway&metadata[type]=private&metadata[vat_number]=12345678&plan=MONTHLY_PLAN&trial_end=1426454789
    headers:
      Authorization:
      - Bearer sk_test_6uBq0SMfkKrgiBZ4ZWPVSGgN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1425245192,
          "id": "cus_5nF4Ac4IS4gAiI",
          "livemode": false,
          "description": null,
          "email": "araceli_baumbach@kling.name",
          "delinquent": false,
          "metadata": {
            "id": "10",
            "country_code": "IT",
            "vat_registered": "false",
            "name": "Juvenal Rolfson",
            "address": "56267 Shayna Throughway",
            "type": "private",
            "vat_number": "12345678"
          },
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5nF4Ac4IS4gAiI/subscriptions",
            "data": [
              {
                "id": "sub_5nF4r3KlmUIPcv",
                "plan": {
                  "interval": "month",
                  "name": "Up\u0026Sell.Me",
                  "created": 1425132625,
                  "amount": 2499,
                  "currency": "eur",
                  "id": "MONTHLY_PLAN",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_descriptor": null,
                  "statement_description": null
                },
                "object": "subscription",
                "start": 1425245192,
                "status": "trialing",
                "customer": "cus_5nF4Ac4IS4gAiI",
                "cancel_at_period_end": false,
                "current_period_start": 1425245192,
                "current_period_end": 1426454789,
                "ended_at": null,
                "trial_start": 1425245192,
                "trial_end": 1426454789,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "tax_percent": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "eur",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5nF4Ac4IS4gAiI/cards",
            "data": [
              {
                "id": "card_15bea2AQkfalJzyKBqcuMtiH",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 2,
                "exp_year": 2016,
                "fingerprint": "gNiJZFbJHY3B44bd",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_5nF4Ac4IS4gAiI"
              }
            ]
          },
          "default_card": "card_15bea2AQkfalJzyKBqcuMtiH",
          "sources": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5nF4Ac4IS4gAiI/sources",
            "data": [
              {
                "id": "card_15bea2AQkfalJzyKBqcuMtiH",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 2,
                "exp_year": 2016,
                "fingerprint": "gNiJZFbJHY3B44bd",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_5nF4Ac4IS4gAiI"
              }
            ]
          },
          "default_source": "card_15bea2AQkfalJzyKBqcuMtiH"
        }
  recorded_at: Sun, 01 Mar 2015 21:26:32 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/invoiceitems
    body:
      encoding: US-ASCII
      string: customer=cus_5nF4Ac4IS4gAiI&amount=100&currency=eur
    headers:
      Authorization:
      - Bearer sk_test_6uBq0SMfkKrgiBZ4ZWPVSGgN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "invoiceitem",
          "id": "ii_15bea7AQkfalJzyKj5BX1yUL",
          "date": 1425245195,
          "amount": 100,
          "livemode": false,
          "proration": false,
          "currency": "eur",
          "customer": "cus_5nF4Ac4IS4gAiI",
          "description": null,
          "metadata": {},
          "invoice": null,
          "subscription": null,
          "quantity": null,
          "plan": null
        }
  recorded_at: Sun, 01 Mar 2015 21:26:34 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/invoices
    body:
      encoding: US-ASCII
      string: customer=cus_5nF4Ac4IS4gAiI
    headers:
      Authorization:
      - Bearer sk_test_6uBq0SMfkKrgiBZ4ZWPVSGgN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: |
        {
          "date": 1425245198,
          "id": "in_15beaAAQkfalJzyKLe9aQYr0",
          "period_start": 1425245192,
          "period_end": 1425245198,
          "lines": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/invoices/in_15beaAAQkfalJzyKLe9aQYr0/lines",
            "data": [
              {
                "id": "ii_15bea7AQkfalJzyKj5BX1yUL",
                "object": "line_item",
                "type": "invoiceitem",
                "livemode": false,
                "amount": 100,
                "currency": "eur",
                "proration": false,
                "period": {
                  "start": 1425245195,
                  "end": 1425245195
                },
                "subscription": null,
                "quantity": null,
                "plan": null,
                "description": null,
                "metadata": {}
              }
            ]
          },
          "subtotal": 100,
          "total": 100,
          "customer": "cus_5nF4Ac4IS4gAiI",
          "object": "invoice",
          "attempted": false,
          "closed": false,
          "forgiven": false,
          "paid": false,
          "livemode": false,
          "attempt_count": 0,
          "amount_due": 100,
          "currency": "eur",
          "starting_balance": 0,
          "ending_balance": null,
          "next_payment_attempt": 1425248798,
          "webhooks_delivered_at": null,
          "charge": null,
          "discount": null,
          "application_fee": null,
          "subscription": null,
          "tax_percent": null,
          "tax": null,
          "metadata": {},
          "statement_descriptor": null,
          "description": null,
          "receipt_number": null,
          "statement_description": null
        }
  recorded_at: Sun, 01 Mar 2015 21:26:37 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices/in_15beaAAQkfalJzyKLe9aQYr0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_6uBq0SMfkKrgiBZ4ZWPVSGgN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_5nF4Ac4IS4gAiI
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_6uBq0SMfkKrgiBZ4ZWPVSGgN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: |
      [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/invoiceitems
    body:
      encoding: US-ASCII
      string: customer=cus_5nF4Ac4IS4gAiI&invoice=in_15beaAAQkfalJzyKLe9aQYr0&amount=22&currency=eur&description=VAT%20(22%25)&metadata[type]=vat&metadata[rate]=22
    headers:
      Authorization:
      - Bearer sk_test_6uBq0SMfkKrgiBZ4ZWPVSGgN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "invoiceitem",
          "id": "ii_15beaHAQkfalJzyKLn95DFzL",
          "date": 1425245205,
          "amount": 22,
          "livemode": false,
          "proration": false,
          "currency": "eur",
          "customer": "cus_5nF4Ac4IS4gAiI",
          "description": "VAT (22%)",
          "metadata": {
            "type": "vat",
            "rate": "22"
          },
          "invoice": "in_15beaAAQkfalJzyKLe9aQYr0",
          "subscription": null,
          "quantity": null,
          "plan": null
        }
  recorded_at: Sun, 01 Mar 2015 21:26:44 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices?customer=cus_5nF4Ac4IS4gAiI
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_6uBq0SMfkKrgiBZ4ZWPVSGgN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: [...]
