---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=2&card[exp_year]=2016&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_6uBq0SMfkKrgiBZ4ZWPVSGgN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_15Zr71AQkfalJzyKELOivTbF",
          "livemode": false,
          "created": 1424816707,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_15Zr71AQkfalJzyK78dval94",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 2,
            "exp_year": 2016,
            "fingerprint": "gNiJZFbJHY3B44bd",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": null,
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "customer": null
          },
          "client_ip": "79.34.101.6"
        }
  recorded_at: Tue, 24 Feb 2015 22:25:05 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_15Zr71AQkfalJzyKELOivTbF&email=torrance%40hodkiewiczbarrows.com&metadata[id]=7&metadata[country_code]=IT&metadata[vat_registered]=false&metadata[name]=Izaiah%20Bernhard%20PhD&metadata[address]=6022%20Schuster%20Estates&metadata[type]=private&metadata[vat_number]=12345678&plan=MONTHLY_PLAN&trial_end=1426026305
    headers:
      Authorization:
      - Bearer sk_test_6uBq0SMfkKrgiBZ4ZWPVSGgN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1424816709,
          "id": "cus_5lNsxfKfli3KC7",
          "livemode": false,
          "description": null,
          "email": "torrance@hodkiewiczbarrows.com",
          "delinquent": false,
          "metadata": {
            "id": "7",
            "country_code": "IT",
            "vat_registered": "false",
            "name": "Izaiah Bernhard PhD",
            "address": "6022 Schuster Estates",
            "type": "private",
            "vat_number": "12345678"
          },
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5lNsxfKfli3KC7/subscriptions",
            "data": [
              {
                "id": "sub_5lNs0CW3rKVH0w",
                "plan": {
                  "interval": "month",
                  "name": "Monthly Plan",
                  "created": 1424815983,
                  "amount": 2499,
                  "currency": "eur",
                  "id": "MONTHLY_PLAN",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": 14,
                  "metadata": {},
                  "statement_descriptor": null,
                  "statement_description": null
                },
                "object": "subscription",
                "start": 1424816710,
                "status": "trialing",
                "customer": "cus_5lNsxfKfli3KC7",
                "cancel_at_period_end": false,
                "current_period_start": 1424816710,
                "current_period_end": 1426026305,
                "ended_at": null,
                "trial_start": 1424816710,
                "trial_end": 1426026305,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "tax_percent": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "eur",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5lNsxfKfli3KC7/cards",
            "data": [
              {
                "id": "card_15Zr71AQkfalJzyK78dval94",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 2,
                "exp_year": 2016,
                "fingerprint": "gNiJZFbJHY3B44bd",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "customer": "cus_5lNsxfKfli3KC7"
              }
            ]
          },
          "default_card": "card_15Zr71AQkfalJzyK78dval94",
          "sources": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5lNsxfKfli3KC7/sources",
            "data": [
              {
                "id": "card_15Zr71AQkfalJzyK78dval94",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 2,
                "exp_year": 2016,
                "fingerprint": "gNiJZFbJHY3B44bd",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "customer": "cus_5lNsxfKfli3KC7"
              }
            ]
          },
          "default_source": "card_15Zr71AQkfalJzyK78dval94"
        }
  recorded_at: Tue, 24 Feb 2015 22:25:08 GMT
recorded_with: VCR 2.9.3
