---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=2&card[exp_year]=2016&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_6uBq0SMfkKrgiBZ4ZWPVSGgN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_15Zr2uAQkfalJzyKLAxLD2Rt",
          "livemode": false,
          "created": 1424816452,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_15Zr2uAQkfalJzyKdUEVIQOl",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 2,
            "exp_year": 2016,
            "fingerprint": "gNiJZFbJHY3B44bd",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": null,
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "customer": null
          },
          "client_ip": "79.34.101.6"
        }
  recorded_at: Tue, 24 Feb 2015 22:20:50 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_15Zr2uAQkfalJzyKLAxLD2Rt&email=barbara%40emmerich.name&metadata[id]=7&metadata[country_code]=IT&metadata[vat_registered]=false&metadata[name]=Max%20Grant%20Jr.&metadata[address]=4351%20Kunde%20Meadow&metadata[type]=private&metadata[vat_number]=12345678&plan=MONTHLY_PLAN&trial_end=1426026050
    headers:
      Authorization:
      - Bearer sk_test_6uBq0SMfkKrgiBZ4ZWPVSGgN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1424816454,
          "id": "cus_5lNo3ieXZqoHDE",
          "livemode": false,
          "description": null,
          "email": "barbara@emmerich.name",
          "delinquent": false,
          "metadata": {
            "id": "7",
            "country_code": "IT",
            "vat_registered": "false",
            "name": "Max Grant Jr.",
            "address": "4351 Kunde Meadow",
            "type": "private",
            "vat_number": "12345678"
          },
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5lNo3ieXZqoHDE/subscriptions",
            "data": [
              {
                "id": "sub_5lNoQFSvDqhxTf",
                "plan": {
                  "interval": "month",
                  "name": "Monthly Plan",
                  "created": 1424815983,
                  "amount": 2499,
                  "currency": "eur",
                  "id": "MONTHLY_PLAN",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": 14,
                  "metadata": {},
                  "statement_descriptor": null,
                  "statement_description": null
                },
                "object": "subscription",
                "start": 1424816454,
                "status": "trialing",
                "customer": "cus_5lNo3ieXZqoHDE",
                "cancel_at_period_end": false,
                "current_period_start": 1424816454,
                "current_period_end": 1426026050,
                "ended_at": null,
                "trial_start": 1424816454,
                "trial_end": 1426026050,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "tax_percent": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "eur",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5lNo3ieXZqoHDE/cards",
            "data": [
              {
                "id": "card_15Zr2uAQkfalJzyKdUEVIQOl",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 2,
                "exp_year": 2016,
                "fingerprint": "gNiJZFbJHY3B44bd",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "customer": "cus_5lNo3ieXZqoHDE"
              }
            ]
          },
          "default_card": "card_15Zr2uAQkfalJzyKdUEVIQOl",
          "sources": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5lNo3ieXZqoHDE/sources",
            "data": [
              {
                "id": "card_15Zr2uAQkfalJzyKdUEVIQOl",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 2,
                "exp_year": 2016,
                "fingerprint": "gNiJZFbJHY3B44bd",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "customer": "cus_5lNo3ieXZqoHDE"
              }
            ]
          },
          "default_source": "card_15Zr2uAQkfalJzyKdUEVIQOl"
        }
  recorded_at: Tue, 24 Feb 2015 22:20:53 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/invoiceitems
    body:
      encoding: US-ASCII
      string: customer=cus_5lNo3ieXZqoHDE&amount=100&currency=eur
    headers:
      Authorization:
      - Bearer sk_test_6uBq0SMfkKrgiBZ4ZWPVSGgN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "invoiceitem",
          "id": "ii_15Zr2zAQkfalJzyKe5meY7A4",
          "date": 1424816457,
          "amount": 100,
          "livemode": false,
          "proration": false,
          "currency": "eur",
          "customer": "cus_5lNo3ieXZqoHDE",
          "description": null,
          "metadata": {},
          "invoice": null,
          "subscription": null,
          "quantity": null,
          "plan": null
        }
  recorded_at: Tue, 24 Feb 2015 22:20:55 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/invoices
    body:
      encoding: US-ASCII
      string: customer=cus_5lNo3ieXZqoHDE
    headers:
      Authorization:
      - Bearer sk_test_6uBq0SMfkKrgiBZ4ZWPVSGgN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: |
        {
          "date": 1424816458,
          "id": "in_15Zr30AQkfalJzyKWpCqfvIC",
          "period_start": 1424816454,
          "period_end": 1424816458,
          "lines": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/invoices/in_15Zr30AQkfalJzyKWpCqfvIC/lines",
            "data": [
              {
                "id": "ii_15Zr2zAQkfalJzyKe5meY7A4",
                "object": "line_item",
                "type": "invoiceitem",
                "livemode": false,
                "amount": 100,
                "currency": "eur",
                "proration": false,
                "period": {
                  "start": 1424816457,
                  "end": 1424816457
                },
                "subscription": null,
                "quantity": null,
                "plan": null,
                "description": null,
                "metadata": {}
              }
            ]
          },
          "subtotal": 100,
          "total": 100,
          "customer": "cus_5lNo3ieXZqoHDE",
          "object": "invoice",
          "attempted": false,
          "closed": false,
          "forgiven": false,
          "paid": false,
          "livemode": false,
          "attempt_count": 0,
          "amount_due": 100,
          "currency": "eur",
          "starting_balance": 0,
          "ending_balance": null,
          "next_payment_attempt": 1424820058,
          "webhooks_delivered_at": null,
          "charge": null,
          "discount": null,
          "application_fee": null,
          "subscription": null,
          "tax_percent": null,
          "tax": null,
          "metadata": {},
          "statement_descriptor": null,
          "description": null,
          "receipt_number": null,
          "statement_description": null
        }
  recorded_at: Tue, 24 Feb 2015 22:20:57 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices/in_15Zr30AQkfalJzyKWpCqfvIC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_6uBq0SMfkKrgiBZ4ZWPVSGgN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_5lNo3ieXZqoHDE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_6uBq0SMfkKrgiBZ4ZWPVSGgN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: |
      [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/invoiceitems
    body:
      encoding: US-ASCII
      string: customer=cus_5lNo3ieXZqoHDE&invoice=in_15Zr30AQkfalJzyKWpCqfvIC&amount=22&currency=eur&description=VAT%20(22%25)&metadata[type]=vat&metadata[rate]=22
    headers:
      Authorization:
      - Bearer sk_test_6uBq0SMfkKrgiBZ4ZWPVSGgN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "invoiceitem",
          "id": "ii_15Zr36AQkfalJzyKAWM0FRyC",
          "date": 1424816464,
          "amount": 22,
          "livemode": false,
          "proration": false,
          "currency": "eur",
          "customer": "cus_5lNo3ieXZqoHDE",
          "description": "VAT (22%)",
          "metadata": {
            "type": "vat",
            "rate": "22"
          },
          "invoice": "in_15Zr30AQkfalJzyKWpCqfvIC",
          "subscription": null,
          "quantity": null,
          "plan": null
        }
  recorded_at: Tue, 24 Feb 2015 22:21:02 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/invoices/in_15Zr30AQkfalJzyKWpCqfvIC/pay
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_6uBq0SMfkKrgiBZ4ZWPVSGgN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      s[...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_15Zr3AAQkfalJzyK9uNDPMlF
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_6uBq0SMfkKrgiBZ4ZWPVSGgN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_15Zr3AAQkfalJzyK9uNDPMlF",
          "object": "charge",
          "created": 1424816468,
          "livemode": false,
          "paid": true,
          "status": "paid",
          "amount": 122,
          "currency": "eur",
          "refunded": false,
          "source": {
            "id": "card_15Zr2uAQkfalJzyKdUEVIQOl",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 2,
            "exp_year": 2016,
            "fingerprint": "gNiJZFbJHY3B44bd",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "customer": "cus_5lNo3ieXZqoHDE"
          },
          "captured": true,
          "card": {
            "id": "card_15Zr2uAQkfalJzyKdUEVIQOl",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 2,
            "exp_year": 2016,
            "fingerprint": "gNiJZFbJHY3B44bd",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "customer": "cus_5lNo3ieXZqoHDE"
          },
          "balance_transaction": "txn_15Zr3AAQkfalJzyKQjcr3AMD",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": "cus_5lNo3ieXZqoHDE",
          "invoice": "in_15Zr30AQkfalJzyKWpCqfvIC",
          "description": null,
          "dispute": null,
          "metadata": {},
          "statement_descriptor": null,
          "fraud_details": {},
          "receipt_email": "barbara@emmerich.name",
          "receipt_number": null,
          "shipping": null,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_15Zr3AAQkfalJzyK9uNDPMlF/refunds",
            "data": []
          },
          "statement_description": null
        }
  recorded_at: Tue, 24 Feb 2015 22:21:09 GMT
recorded_with: VCR 2.9.3
