---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=2&card[exp_year]=2016&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_6uBq0SMfkKrgiBZ4ZWPVSGgN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_15Zr5uAQkfalJzyKEJKc5xuG",
          "livemode": false,
          "created": 1424816638,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_15Zr5uAQkfalJzyKePWs8wn6",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 2,
            "exp_year": 2016,
            "fingerprint": "gNiJZFbJHY3B44bd",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": null,
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "customer": null
          },
          "client_ip": "79.34.101.6"
        }
  recorded_at: Tue, 24 Feb 2015 22:23:56 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_15Zr5uAQkfalJzyKEJKc5xuG&email=elian_ortiz%40wiza.org&metadata[id]=7&metadata[country_code]=IT&metadata[vat_registered]=false&metadata[name]=Mrs.%20Marguerite%20Schaden&metadata[address]=721%20Lizeth%20Walks&metadata[type]=private&metadata[vat_number]=12345678&plan=MONTHLY_PLAN&trial_end=1426026236
    headers:
      Authorization:
      - Bearer sk_test_6uBq0SMfkKrgiBZ4ZWPVSGgN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1424816640,
          "id": "cus_5lNrcaYp6sYmjx",
          "livemode": false,
          "description": null,
          "email": "elian_ortiz@wiza.org",
          "delinquent": false,
          "metadata": {
            "id": "7",
            "country_code": "IT",
            "vat_registered": "false",
            "name": "Mrs. Marguerite Schaden",
            "address": "721 Lizeth Walks",
            "type": "private",
            "vat_number": "12345678"
          },
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5lNrcaYp6sYmjx/subscriptions",
            "data": [
              {
                "id": "sub_5lNrvE8xO7qdr2",
                "plan": {
                  "interval": "month",
                  "name": "Monthly Plan",
                  "created": 1424815983,
                  "amount": 2499,
                  "currency": "eur",
                  "id": "MONTHLY_PLAN",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": 14,
                  "metadata": {},
                  "statement_descriptor": null,
                  "statement_description": null
                },
                "object": "subscription",
                "start": 1424816640,
                "status": "trialing",
                "customer": "cus_5lNrcaYp6sYmjx",
                "cancel_at_period_end": false,
                "current_period_start": 1424816640,
                "current_period_end": 1426026236,
                "ended_at": null,
                "trial_start": 1424816640,
                "trial_end": 1426026236,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "tax_percent": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "eur",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5lNrcaYp6sYmjx/cards",
            "data": [
              {
                "id": "card_15Zr5uAQkfalJzyKePWs8wn6",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 2,
                "exp_year": 2016,
                "fingerprint": "gNiJZFbJHY3B44bd",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "customer": "cus_5lNrcaYp6sYmjx"
              }
            ]
          },
          "default_card": "card_15Zr5uAQkfalJzyKePWs8wn6",
          "sources": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5lNrcaYp6sYmjx/sources",
            "data": [
              {
                "id": "card_15Zr5uAQkfalJzyKePWs8wn6",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 2,
                "exp_year": 2016,
                "fingerprint": "gNiJZFbJHY3B44bd",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "customer": "cus_5lNrcaYp6sYmjx"
              }
            ]
          },
          "default_source": "card_15Zr5uAQkfalJzyKePWs8wn6"
        }
  recorded_at: Tue, 24 Feb 2015 22:23:58 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_5lNrcaYp6sYmjx/subscriptions
    body:
      encoding: US-ASCII
      string: plan=test&trial_end=1424817642
    headers:
      Authorization:
      - Bearer sk_test_6uBq0SMfkKrgiBZ4ZWPVSGgN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-11-05'
    body:
 [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices?customer=cus_5lNrcaYp6sYmjx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_6uBq0SMfkKrgiBZ4ZWPVSGgN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "has_more": false,
          "url": "/v1/invoices",
          "data": [
            {
              "date": 1424816646,
              "id": "in_15Zr62AQkfalJzyKX6ajwOhB",
              "period_start": 1424816640,
              "period_end": 1424816646,
              "lines": {
                "object": "list",
                "total_count": 1,
                "has_more": false,
                "url": "/v1/invoices/in_15Zr62AQkfalJzyKX6ajwOhB/lines",
                "data": [
                  {
                    "id": "sub_5lNrWGBNu1s1Gl",
                    "object": "line_item",
                    "type": "subscription",
                    "livemode": false,
                    "amount": 0,
                    "currency": "eur",
                    "proration": false,
                    "period": {
                      "start": 1424816646,
                      "end": 1424817642
                    },
                    "subscription": null,
                    "quantity": 1,
                    "plan": {
                      "interval": "month",
                      "name": "Test Plan",
                      "created": 1424816644,
                      "amount": 1499,
                      "currency": "eur",
                      "id": "test",
                      "object": "plan",
                      "livemode": false,
                      "interval_count": 1,
                      "trial_period_days": null,
                      "metadata": {},
                      "statement_descriptor": null,
                      "statement_description": null
                    },
                    "description": null,
                    "metadata": {}
                  }
                ]
              },
              "subtotal": 0,
              "total": 0,
              "customer": "cus_5lNrcaYp6sYmjx",
              "object": "invoice",
              "attempted": true,
              "closed": true,
              "forgiven": false,
              "paid": true,
              "livemode": false,
              "attempt_count": 0,
              "amount_due": 0,
              "currency": "eur",
              "starting_balance": 0,
              "ending_balance": 0,
              "next_payment_attempt": null,
              "webhooks_delivered_at": null,
              "charge": null,
              "discount": null,
              "application_fee": null,
              "subscription": "sub_5lNrWGBNu1s1Gl",
              "tax_percent": null,
              "tax": null,
              "metadata": {},
              "statement_descriptor": null,
              "description": null,
              "receipt_number": null,
              "statement_description": null
            },
            {
              "date": 1424816640,
              "id": "in_15Zr5wAQkfalJzyKAiqcryLm",
              "period_start": 1424816640,
              "period_end": 1424816640,
              "lines": {
                "object": "list",
                "total_count": 1,
                "has_more": false,
                "url": "/v1/invoices/in_15Zr5wAQkfalJzyKAiqcryLm/lines",
                "data": [
                  {
      [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices/in_15Zr62AQkfalJzyKX6ajwOhB
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_6uBq0SMfkKrgiBZ4ZWPVSGgN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: [...]
