---
http_interactions:
- request:
    method: post
    uri: https://svcs.sandbox.paypal.com/Permissions/RequestPermissions
    body:
      encoding: UTF-8
      string: '{"requestEnvelope":{"errorLanguage":"en_US"},"scope":["REFUND","ACCESS_BASIC_PERSONAL_DATA"],"callback":"http://ciao.com"}'
    headers:
      X-Paypal-Security-Userid:
      - paypal_api1.galluzzo.me
      X-Paypal-Security-Password:
      - 7KUSGBREC2CPCV6Z
      X-Paypal-Application-Id:
      - APP-80W284485P519543T
      X-Paypal-Sandbox-Email-Address:
      - paypal@upandsell.me
      X-Paypal-Security-Signature:
      - Acjh9bsTgq2jtPSUrdTHavt9Fu.jAkv2NBeHP-egg5nDSmAIRmKL5Oov
      X-Paypal-Request-Data-Format:
      - JSON
      X-Paypal-Response-Data-Format:
      - JSON
      X-Paypal-Request-Source:
      - permissions-ruby-sdk-1.96.4
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Paypal-Message-Protocol:
      - NONE
      X-Paypal-Response-Data-Format:
      - JSON
      X-Ebay-Soa-Request-Id:
      - 14bfa3ae-a2d0-a487-1b37-2257ffffa188!Permissions!10.72.113.179![]
      X-Paypal-Operation-Name:
      - RequestPermissions
      X-Paypal-Service-Name:
      - "{http://svcs.paypal.com/types/perm}Permissions"
      X-Paypal-Service-Version:
      - 1.0.0
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"responseEnvelope":{"timestamp":"2015-03-08T09:32:20.241-07:00","ack":"Success","correlationId":"f0cddc51ab45b","build":"2210301"},"token":"AAAAAAAcsc9QqO5ikadm"}'
  recorded_at: Sun, 08 Mar 2015 16:32:18 GMT
recorded_with: VCR 2.9.3
