---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=2&card[exp_year]=2016&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_6uBq0SMfkKrgiBZ4ZWPVSGgN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_15Zr87AQkfalJzyKWyyxxGfB",
          "livemode": false,
          "created": 1424816775,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_15Zr87AQkfalJzyK43Qc3yGS",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 2,
            "exp_year": 2016,
            "fingerprint": "gNiJZFbJHY3B44bd",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": null,
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "customer": null
          },
          "client_ip": "79.34.101.6"
        }
  recorded_at: Tue, 24 Feb 2015 22:26:13 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_15Zr87AQkfalJzyKWyyxxGfB&email=gia.kemmer%40ullrichbartell.info&metadata[id]=1&metadata[country_code]=IT&metadata[vat_registered]=false&metadata[name]=Krystel%20Hayes&metadata[address]=63181%20Angelo%20Village&metadata[type]=private&metadata[vat_number]=12345678&plan=MONTHLY_PLAN&trial_end=1426026373
    headers:
      Authorization:
      - Bearer sk_test_6uBq0SMfkKrgiBZ4ZWPVSGgN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1424816777,
          "id": "cus_5lNt9C6EMjmtoL",
          "livemode": false,
          "description": null,
          "email": "gia.kemmer@ullrichbartell.info",
          "delinquent": false,
          "metadata": {
            "id": "1",
            "country_code": "IT",
            "vat_registered": "false",
            "name": "Krystel Hayes",
            "address": "63181 Angelo Village",
            "type": "private",
            "vat_number": "12345678"
          },
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5lNt9C6EMjmtoL/subscriptions",
            "data": [
              {
                "id": "sub_5lNt0fDAEtNjjn",
                "plan": {
                  "interval": "month",
                  "name": "Monthly Plan",
                  "created": 1424815983,
                  "amount": 2499,
                  "currency": "eur",
                  "id": "MONTHLY_PLAN",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": 14,
                  "metadata": {},
                  "statement_descriptor": null,
                  "statement_description": null
                },
                "object": "subscription",
                "start": 1424816777,
                "status": "trialing",
                "customer": "cus_5lNt9C6EMjmtoL",
                "cancel_at_period_end": false,
                "current_period_start": 1424816777,
                "current_period_end": 1426026373,
                "ended_at": null,
                "trial_start": 1424816777,
                "trial_end": 1426026373,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "tax_percent": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "eur",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5lNt9C6EMjmtoL/cards",
            "data": [
              {
                "id": "card_15Zr87AQkfalJzyK43Qc3yGS",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 2,
                "exp_year": 2016,
                "fingerprint": "gNiJZFbJHY3B44bd",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "customer": "cus_5lNt9C6EMjmtoL"
              }
            ]
          },
          "default_card": "card_15Zr87AQkfalJzyK43Qc3yGS",
          "sources": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5lNt9C6EMjmtoL/sources",
            "data": [
              {
                "id": "card_15Zr87AQkfalJzyK43Qc3yGS",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 2,
                "exp_year": 2016,
                "fingerprint": "gNiJZFbJHY3B44bd",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "customer": "cus_5lNt9C6EMjmtoL"
              }
            ]
          },
          "default_source": "card_15Zr87AQkfalJzyK43Qc3yGS"
        }
  recorded_at: Tue, 24 Feb 2015 22:26:16 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/invoiceitems
    body:
      encoding: US-ASCII
      string: customer=cus_5lNt9C6EMjmtoL&amount=100&currency=eur
    headers:
      Authorization:
      - Bearer sk_test_6uBq0SMfkKrgiBZ4ZWPVSGgN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "invoiceitem",
          "id": "ii_15Zr8BAQkfalJzyKFJLl4DxG",
          "date": 1424816779,
          "amount": 100,
          "livemode": false,
          "proration": false,
          "currency": "eur",
          "customer": "cus_5lNt9C6EMjmtoL",
          "description": null,
          "metadata": {},
          "invoice": null,
          "subscription": null,
          "quantity": null,
          "plan": null
        }
  recorded_at: Tue, 24 Feb 2015 22:26:17 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/invoices
    body:
      encoding: US-ASCII
      string: customer=cus_5lNt9C6EMjmtoL
    headers:
      Authorization:
      - Bearer sk_test_6uBq0SMfkKrgiBZ4ZWPVSGgN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: |
        {
          "date": 1424816781,
          "id": "in_15Zr8DAQkfalJzyK74BMSkbm",
          "period_start": 1424816777,
          "period_end": 1424816781,
          "lines": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/invoices/in_15Zr8DAQkfalJzyK74BMSkbm/lines",
            "data": [
              {
                "id": "ii_15Zr8BAQkfalJzyKFJLl4DxG",
                "object": "line_item",
                "type": "invoiceitem",
                "livemode": false,
                "amount": 100,
                "currency": "eur",
                "proration": false,
                "period": {
                  "start": 1424816779,
                  "end": 1424816779
                },
                "subscription": null,
                "quantity": null,
                "plan": null,
                "description": null,
                "metadata": {}
              }
            ]
          },
          "subtotal": 100,
          "total": 100,
          "customer": "cus_5lNt9C6EMjmtoL",
          "object": "invoice",
          "attempted": false,
          "closed": false,
          "forgiven": false,
          "paid": false,
          "livemode": false,
          "attempt_count": 0,
          "amount_due": 100,
          "currency": "eur",
          "starting_balance": 0,
          "ending_balance": null,
          "next_payment_attempt": 1424820381,
          "webhooks_delivered_at": null,
          "charge": null,
          "discount": null,
          "application_fee": null,
          "subscription": null,
          "tax_percent": null,
          "tax": null,
          "metadata": {},
          "statement_descriptor": null,
          "description": null,
          "receipt_number": null,
          "statement_description": null
        }
  recorded_at: Tue, 24 Feb 2015 22:26:19 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/invoices/in_15Zr8DAQkfalJzyK74BMSkbm/pay
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_6uBq0SMfkKrgiBZ4ZWPVSGgN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      s[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices/in_15Zr8DAQkfalJzyK74BMSkbm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_6uBq0SMfkKrgiBZ4ZWPVSGgN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_15Zr8FAQkfalJzyKJYLCv5Rh
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_6uBq0SMfkKrgiBZ4ZWPVSGgN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_15Zr8FAQkfalJzyKJYLCv5Rh",
          "object": "charge",
          "created": 1424816783,
          "livemode": false,
          "paid": true,
          "status": "paid",
          "amount": 100,
          "currency": "eur",
          "refunded": false,
          "source": {
            "id": "card_15Zr87AQkfalJzyK43Qc3yGS",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 2,
            "exp_year": 2016,
            "fingerprint": "gNiJZFbJHY3B44bd",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "customer": "cus_5lNt9C6EMjmtoL"
          },
          "captured": true,
          "card": {
            "id": "card_15Zr87AQkfalJzyK43Qc3yGS",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 2,
            "exp_year": 2016,
            "fingerprint": "gNiJZFbJHY3B44bd",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "customer": "cus_5lNt9C6EMjmtoL"
          },
          "balance_transaction": "txn_15Zr8FAQkfalJzyKNFlusSxo",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": "cus_5lNt9C6EMjmtoL",
          "invoice": "in_15Zr8DAQkfalJzyK74BMSkbm",
          "description": null,
          "dispute": null,
          "metadata": {},
          "statement_descriptor": null,
          "fraud_details": {},
          "receipt_email": "gia.kemmer@ullrichbartell.info",
          "receipt_number": null,
          "shipping": null,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_15Zr8FAQkfalJzyKJYLCv5Rh/refunds",
            "data": []
          },
          "statement_description": null
        }
  recorded_at: Tue, 24 Feb 2015 22:26:25 GMT
recorded_with: VCR 2.9.3
