---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=2&card[exp_year]=2016&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_6uBq0SMfkKrgiBZ4ZWPVSGgN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_15feAgAQkfalJzyKlvOmr1IK",
          "livemode": false,
          "created": 1426196930,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_15feAgAQkfalJzyKYZTUFkj6",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 2,
            "exp_year": 2016,
            "fingerprint": "gNiJZFbJHY3B44bd",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": null,
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "customer": null
          },
          "client_ip": "79.34.58.133"
        }
  recorded_at: Thu, 12 Mar 2015 21:48:50 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_15fdq5AQkfalJzyKedHWfxKU
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_6uBq0SMfkKrgiBZ4ZWPVSGgN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_15fdq5AQkfalJzyKedHWfxKU",
          "object": "charge",
          "created": 1426195653,
          "livemode": false,
          "paid": true,
          "status": "paid",
          "amount": 30000,
          "currency": "usd",
          "refunded": false,
          "source": {
            "id": "card_15fdq2AQkfalJzyKPpwFn1Yo",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 2,
            "exp_year": 2016,
            "fingerprint": "gNiJZFbJHY3B44bd",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "metadata": {},
            "customer": null
          },
          "captured": true,
          "card": {
            "id": "card_15fdq2AQkfalJzyKPpwFn1Yo",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 2,
            "exp_year": 2016,
            "fingerprint": "gNiJZFbJHY3B44bd",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "metadata": {},
            "customer": null
          },
          "balance_transaction": "txn_15fdq5AQkfalJzyKVBHtvUn2",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": null,
          "dispute": null,
          "metadata": {},
          "statement_descriptor": null,
          "fraud_details": {},
          "receipt_email": null,
          "receipt_number": null,
          "shipping": null,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_15fdq5AQkfalJzyKedHWfxKU/refunds",
            "data": []
          },
          "statement_description": null
        }
  recorded_at: Thu, 12 Mar 2015 21:48:52 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges/ch_15fdq5AQkfalJzyKedHWfxKU/refunds
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_6uBq0SMfkKrgiBZ4ZWPVSGgN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "re_15feAkAQkfalJzyKHVua4pyF",
          "amount": 30000,
          "currency": "usd",
          "created": 1426196934,
          "object": "refund",
          "balance_transaction": "txn_15feAkAQkfalJzyKvShtMDPB",
          "metadata": {},
          "charge": "ch_15fdq5AQkfalJzyKedHWfxKU",
          "receipt_number": null,
          "reason": null
        }
  recorded_at: Thu, 12 Mar 2015 21:48:54 GMT
recorded_with: VCR 2.9.3
