---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=10&card[exp_year]=15&card[cvc]=123&email=person1%40byebye.com&metadata[id]=1&metadata[type]=private&plan=MONTHLY_PLAN
    headers:
      Authorization:
      - Bearer sk_test_6uBq0SMfkKrgiBZ4ZWPVSGgN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1417207971,
          "id": "cus_5EOW4rwxjVCLi2",
          "livemode": false,
          "description": null,
          "email": "person1@byebye.com",
          "delinquent": false,
          "metadata": {
            "id": "1",
            "type": "private"
          },
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5EOW4rwxjVCLi2/subscriptions",
            "data": [
              {
                "id": "sub_5EOWzET8u99Har",
                "plan": {
                  "interval": "month",
                  "name": "Monthly App Plan",
                  "created": 1417205859,
                  "amount": 2500,
                  "currency": "eur",
                  "id": "MONTHLY_PLAN",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": 30,
                  "metadata": {},
                  "statement_description": null
                },
                "object": "subscription",
                "start": 1417207971,
                "status": "trialing",
                "customer": "cus_5EOW4rwxjVCLi2",
                "cancel_at_period_end": false,
                "current_period_start": 1417207971,
                "current_period_end": 1419799971,
                "ended_at": null,
                "trial_start": 1417207971,
                "trial_end": 1419799971,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "eur",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5EOW4rwxjVCLi2/cards",
            "data": [
              {
                "id": "card_153vjTAQkfalJzyKrKNHyFMj",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 10,
                "exp_year": 2015,
                "fingerprint": "gNiJZFbJHY3B44bd",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "customer": "cus_5EOW4rwxjVCLi2"
              }
            ]
          },
          "default_card": "card_153vjTAQkfalJzyKrKNHyFMj"
        }
  recorded_at: Fri, 28 Nov 2014 20:52:57 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_5EOW4rwxjVCLi2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_6uBq0SMfkKrgiBZ4ZWPVSGgN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      st[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_5EOHtoQpoDQtOv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_6uBq0SMfkKrgiBZ4ZWPVSGgN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      st[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_5EOHtoQpoDQtOv/subscriptions
    body:
      encoding: US-ASCII
      string: plan=MONTHLY_PLAN&card[number]=4242424242424242&card[exp_month]=10&card[exp_year]=15&card[cvc]=123
    headers:
      Authorization:
      - Bearer sk_test_6uBq0SMfkKrgiBZ4ZWPVSGgN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - app[...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_5EOHtoQpoDQtOv/subscriptions/sub_5EOb31bkd4kYfs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_6uBq0SMfkKrgiBZ4ZWPVSGgN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-11-05'
    bod[...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_5EOW4rwxjVCLi2/subscriptions/sub_5EOWzET8u99Har
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_6uBq0SMfkKrgiBZ4ZWPVSGgN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-11-05'
    bod[...]
[...]
