---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_5nDOObvDCZYY9t
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_6uBq0SMfkKrgiBZ4ZWPVSGgN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1425238960,
          "id": "cus_5nDOObvDCZYY9t",
          "livemode": false,
          "description": null,
          "email": "rocco@galluzzo.me",
          "delinquent": false,
          "metadata": {
            "id": "1",
            "country_code": "IT",
            "vat_registered": "false",
            "name": "User1",
            "address": "Viale Restelli Francesco, 1",
            "type": "private",
            "vat_number": "GLLRCC88H04I725R"
          },
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5nDOObvDCZYY9t/subscriptions",
            "data": [
              {
                "id": "sub_5nDO3YJ2wW9nzR",
                "plan": {
                  "interval": "month",
                  "name": "Up\u0026Sell.Me",
                  "created": 1425132625,
                  "amount": 2499,
                  "currency": "eur",
                  "id": "MONTHLY_PLAN",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_descriptor": null,
                  "statement_description": null
                },
                "object": "subscription",
                "start": 1425238960,
                "status": "active",
                "customer": "cus_5nDOObvDCZYY9t",
                "cancel_at_period_end": false,
                "current_period_start": 1425238960,
                "current_period_end": 1427917360,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "tax_percent": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "eur",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5nDOObvDCZYY9t/cards",
            "data": [
              {
                "id": "card_15bcxSAQkfalJzyKvJBjb18X",
                "object": "card",
                "last4": "1111",
                "brand": "Visa",
                "funding": "unknown",
                "exp_month": 12,
                "exp_year": 2020,
                "fingerprint": "hePZlOgPfVlt1Rqb",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_5nDOObvDCZYY9t"
              }
            ]
          },
          "default_card": "card_15bcxSAQkfalJzyKvJBjb18X",
          "sources": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5nDOObvDCZYY9t/sources",
            "data": [
              {
                "id": "card_15bcxSAQkfalJzyKvJBjb18X",
                "object": "card",
                "last4": "1111",
                "brand": "Visa",
                "funding": "unknown",
                "exp_month": 12,
                "exp_year": 2020,
                "fingerprint": "hePZlOgPfVlt1Rqb",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_5nDOObvDCZYY9t"
              }
            ]
          },
          "default_source": "card_15bcxSAQkfalJzyKvJBjb18X"
        }
  recorded_at: Sat, 07 Mar 2015 22:04:09 GMT
recorded_with: VCR 2.9.3
