---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_invoice_payment_succeeded
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_6uBq0SMfkKrgiBZ4ZWPVSGgN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "type": "invalid_request_error",
            "message": "No such event: evt_invoice_payment_succeeded",
            "param": "id"
          }
        }
  recorded_at: Sat, 07 Mar 2015 22:12:24 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices/in_15bcxYAQkfalJzyKt9NVxqoy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_6uBq0SMfkKrgiBZ4ZWPVSGgN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: |
        {
          "date": 1425238960,
          "id": "in_15bcxYAQkfalJzyKt9NVxqoy",
          "period_start": 1425238960,
          "period_end": 1425238960,
          "lines": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/invoices/in_15bcxYAQkfalJzyKt9NVxqoy/lines",
            "data": [
              {
                "id": "sub_5nDO3YJ2wW9nzR",
                "object": "line_item",
                "type": "subscription",
                "livemode": false,
                "amount": 2499,
                "currency": "eur",
                "proration": false,
                "period": {
                  "start": 1425238960,
                  "end": 1427917360
                },
                "subscription": null,
                "quantity": 1,
                "plan": {
                  "interval": "month",
                  "name": "Up\u0026Sell.Me",
                  "created": 1425132625,
                  "amount": 2499,
                  "currency": "eur",
                  "id": "MONTHLY_PLAN",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_descriptor": null,
                  "statement_description": null
                },
                "description": null,
                "metadata": {}
              }
            ]
          },
          "subtotal": 2499,
          "total": 2499,
          "customer": "cus_5nDOObvDCZYY9t",
          "object": "invoice",
          "attempted": true,
          "closed": true,
          "forgiven": false,
          "paid": true,
          "livemode": false,
          "attempt_count": 1,
          "amount_due": 2499,
          "currency": "eur",
          "starting_balance": 0,
          "ending_balance": 0,
          "next_payment_attempt": null,
          "webhooks_delivered_at": 1425238966,
          "charge": "ch_15bcxYAQkfalJzyKZFDQPp6H",
          "discount": null,
          "application_fee": null,
          "subscription": "sub_5nDO3YJ2wW9nzR",
          "tax_percent": null,
          "tax": null,
          "metadata": {},
          "statement_descriptor": null,
          "description": null,
          "receipt_number": null,
          "statement_description": null
        }
  recorded_at: Sat, 07 Mar 2015 22:26:59 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_15bcxYAQkfalJzyKZFDQPp6H
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_6uBq0SMfkKrgiBZ4ZWPVSGgN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_15bcxYAQkfalJzyKZFDQPp6H",
          "object": "charge",
          "created": 1425238960,
          "livemode": false,
          "paid": true,
          "status": "paid",
          "amount": 2499,
          "currency": "eur",
          "refunded": false,
          "source": {
            "id": "card_15bcxSAQkfalJzyKvJBjb18X",
            "object": "card",
            "last4": "1111",
            "brand": "Visa",
            "funding": "unknown",
            "exp_month": 12,
            "exp_year": 2020,
            "fingerprint": "hePZlOgPfVlt1Rqb",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "metadata": {},
            "customer": "cus_5nDOObvDCZYY9t"
          },
          "captured": true,
          "card": {
            "id": "card_15bcxSAQkfalJzyKvJBjb18X",
            "object": "card",
            "last4": "1111",
            "brand": "Visa",
            "funding": "unknown",
            "exp_month": 12,
            "exp_year": 2020,
            "fingerprint": "hePZlOgPfVlt1Rqb",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "metadata": {},
            "customer": "cus_5nDOObvDCZYY9t"
          },
          "balance_transaction": "txn_15bcxYAQkfalJzyKv3vQBPeH",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": "cus_5nDOObvDCZYY9t",
          "invoice": "in_15bcxYAQkfalJzyKt9NVxqoy",
          "description": null,
          "dispute": null,
          "metadata": {},
          "statement_descriptor": null,
          "fraud_details": {},
          "receipt_email": "rocco@galluzzo.me",
          "receipt_number": null,
          "shipping": null,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_15bcxYAQkfalJzyKZFDQPp6H/refunds",
            "data": []
          },
          "statement_description": null
        }
  recorded_at: Sat, 07 Mar 2015 22:27:01 GMT
recorded_with: VCR 2.9.3
