<% content_for :header do %>
  <div class="col-lg-10">
    <h1>ORDERS</h1>
  </div>
<% end %>
    <div class="row">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-offset-1 col-lg-10">
            <div class="list">

          <% if @payments.blank? %>
          <tr> <td colspan="2">No payments Founds</td></tr>
          <% else %>
          <% @payments.each do |payment| %>
         <div class="list-item row">
               <div class="col-sm-5">
             <%= payment.product.name %>
             </div>
             <div class="col-sm-3"> <%= payment.amount %></div>
            <div class="col-sm-3">


             <%= link_to "Show", user_payment_path(payment), :class => "btn btn-info" %>

           <%= link_to "Refund", refund_user_payment_path(payment), :class => "btn btn-success" %>
           </div>
       </div>
       <% end %>
       <% end %>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
