<% content_for :title do %>
You have been invited to the beta of Up&amp;Sell.Me
<% end %>
<table class="row">
  <tr>
    <td class="wrapper last">
      <table class="twelve columns">
        <tr>
          <td class="box-title">
            <h1>You have been invited to the beta of Up&amp;Sell.Me!</h1>
          </td>
          <td class="expander"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<table class="row">
  <tr>
    <td class="wrapper last">
      <table class="twelve columns">
        <tr>
          <td class="text-pad box-message">
            <p>
            You can signup by clicking the link below:
            </p>
          </td>
          <td class="expander"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<table class="row">
  <tr>
    <td class="wrapper last">
      <table class="twelve columns">
        <tr>
          <td class="text-pad box-btn">
      <div><!--[if mso]>
  <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml"
   xmlns:w="urn:schemas-microsoft-com:office:word"
   href="<%= new_user_registration_url(:invite_token => @invite.invitation_token) %>"
   style="height:50px;v-text-anchor:middle;width:150px;" arcsize="12%" stroke="f" fillcolor="#53aede">
    <w:anchorlock/>
    <center>
  <![endif]-->
      <a href="<%= new_user_registration_url(:invite_token =>  @invite.invitation_token) %>"
style="background-color:#53aede;border-radius:6px;color:#ffffff;display:inline-block;font-family:sans-serif;font-size:15px;font-weight:bold;line-height:50px;text-align:center;text-decoration:none;width:150px;-webkit-text-size-adjust:none;">
Sign Up</a>
  <!--[if mso]>
    </center>
  </v:roundrect>
 <![endif]--></div>
</td>
<td class="expander"></td>
</tr>
</table>
</td>
</tr>
</table>
<table class="row" style="margin-bottom: 10px;">
  <tr>
    <td class="wrapper last">
      <table class="twelve columns">
        <tr>
          <td class="text-pad box-alt-link">
            <a  class="box-alt-link" href="<%= new_user_registration_url(:invite_token =>  @invite.invitation_token) %>">
          <%= new_user_registration_url(:invite_token =>  @invite.invitation_token) %></a>
          </p>
        </td>
        <td class="expander"></td>
      </tr>
    </table>
  </td>
</tr>
</table>