<% content_for :title do %>
 Subscription renewed successfully
<% end %>
<% content_for :h1 do %>
Your Subscription renewed successfully
<% end %>

<% content_for :msg do %>
Your new customer's email is <a
style="color:#53aede"
href="mailto:<%= @order.email %>">
<%= @order.email %>
</a>.
For order details go on your <a style="color:#53aede" href="https://upandsell.me/user">dashboard</a>.
<% end %>

<div style="margin-top:10px"></div>


<% content_for :footer do %>
<% end %>
