<% content_for :title do %>
Your subscription has been renewed successfully.
<% end %>
<% content_for :h1 do %>
Thank you for using our service!
<% end %>

<% content_for :msg do %>
We've just charged you the <%= @user.plan_type %> subscription fee
<% end %>

<div style="margin-top:10px"></div>


<% content_for :footer do %>
<% end %>
