<% content_for :title do %>
Your Subscription was not renewed
<% end %>
<% content_for :h1 do %>
Withdrawal Failed
<% end %>

<% content_for :msg do %>
We are contacting you as we have noticed that the credit card set for the payments of your Up&amp;Sell.me subscription is no longer
valid.
<br />
<br />
This prevents the proper renewal of your subscription.
<br />
<br />
We invite you to set a new credit card in order to proceed with the balance of the invoices.
Unfortunately, in case of lack of answer and lack payment, the system will temporarily disable your account.
<% end %>

<div style="margin-top:10px"></div>

<table class="row">
  <tr>
    <td class="wrapper last">
      <table class="twelve columns">
        <tr>
          <td class="text-pad box-email-info">
           <p>
             This email has been sent to you as part of your Up&amp;Sell.me membership.
             Please do not reply to this email, as we are unable to
             respond from this email address. If you need help or would like to contact us,
             please send an email at
             <a style="color:#53aede;" href="mailto:support@upandsell.me">support@upandsell.me</a>.
           </p>
         </td>
         <td class="expander"></td>
       </tr>
     </table>
   </td>
 </tr>
</table>

<% content_for :footer do %>
<p>
  Sent to <b><%= @user.email %></b>.
  <%= link_to "Deactivate notifications",
  unsubscribe_user_url(@user.unsubscribe_token('sales')),
  style:"color:#999" %>
</p>
<% end %>
