<% content_for :title do %>
Your purchase of <%= @order.product.name %> for <%= @order.amount %>
on Up&amp;Sell.Me has been fully refunded.
<% end %>

<% content_for :h1 do %>
You have been refunded.
<% end %>

<% content_for :msg do %>
Your purchase of <%= @order.product.name %> for <b><%= humanized_money_with_symbol @order.amount %></b>
on <b>Up&amp;Sell.Me</b> has been fully refunded.

<div style="margin-top:10px"></div>

<% end %>

