<% content_for :title do %>
Your Subscription Cancellation
<% end %>
<% content_for :h1 do %>
Subscription cancelled
<% end %>

<% content_for :msg do %>
We've cancelled your Up&amp;Sell.me subscription.
 This change will be effective on <b><%= @user.subscription_end.strftime("%d %B  %Y") %></b>.
 Until that date you still can use the site
<% end %>

<div style="margin-top:10px"></div>


<% content_for :footer do %>
<% end %>
