<%= render partial: "user/tools/tabs" %>
<div class="row">
  <div class="col-md-2">
    <a href="#" class="btn btn-block btn-primary"> New Coupon</a>
  </div>

  <div class="col-md-10">
   <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>

</div>

<div class=" m-t-40 newsletter-list">

  <table>
    <thead>
      <tr>
        <th class="list-name">Code</th>
        <th class="subscribers">Product</th>
        <th class="last-update">Avaiable/Used</th>
        <th class="actions">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% if @list.blank? %>
      <tr><td colspan="4"><p class="text-center text-muted">No mailing list founds</p></td></tr>
      <% else %>
      <% @list.each do |list| %>
      <tr>
        <td> <%= list.name %> </td>
        <td> <%= list.subscribers %> </td>
        <td> <%= list.last_sent %></td>
        <td> </td>
      </tr>
      <% end %>
      <% end %>
      <tr>

      </tr>
    </tbody>
  </table>
  <div class="pagination">
   <div>
     <%# paginate @orders %>
   </div>
 </div>
</div>
