
<div class="row">

  <div class="upload-row col-lg-offset-1 col-lg-10">
 <div class="invisible progress">
    <div class="progress-bar" style="width: 0%;"></div>
  </div>
  <div class="filename invisible"><b>Filename.exe</b></div>
  <span class="btn btn-primary fileinput-button">
    <span data-text-type="choose">Choose File to Sell</span>
     <span class="hidden" data-text-type="cancel">Cancel</span>
      <span class="hidden" data-text-type="change">Change</span>
    <input data-url="<%= url_for customer_products_upload_path  %>"
    id="product-upload-btn" type="file" name="product[file_js]" multiple="" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol', Symbola, EmojiSymbols;">
  </span>
</div>



</div>
<form role="form">

  <div class="form-group row">
    <div class="col-xs-10">
      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Product Name">
      <span class="help-block">Be descriptive</span>
    </div>
    <div class="col-xs-2">
     <div class="input-group">
      <span class="input-group-addon btn-preview">$</span>
      <input type="text" class="form-control"  placeholder="0.00">
    </div>
  </div>

</div>
<div class="form-group row">
  <div class="col-xs-12">
    <div class="input-group">
      <input type="text" class="form-control">
      <span class="input-group-btn">
        <button class="btn btn-primary btn-preview" type="button">Choose Preview</button>
      </span>
    </div><!-- /input-group -->
  </div>


</div>
<div class="form-group row">
  <div class="col-xs-12">
    <textarea class="form-control" rows="3"></textarea>
  </div>
</div>
</form>