<div class="headline"><h3>My Products</h3></div>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>stats</th>
    </tr>
  </thead>
  <tbody>
    <% if @products.blank? %>
    <tr> <td colspan="2">No products Founds</td></tr>
    <% else %>
    <% @products.each do |product| %>
    <tr>
      <td>
        <div class="img-rounded product-cell-thumb">
        </div>
        <div class="product-cell-info">
          <strong><%= link_to product.name, customer_product_path(product) %></strong>
           <div>
            <em class="muted"> http://upandsell.it/p/clackc</em> 
            <i class="icon-external-link"></i>
          </div>
          <div>
            <i class="icon-picture"></i> <em class="muted"> ~486 Kb </em>
          </div>
        </div>
        <div class="product-cell-btn">
          <%= link_to "Edit", edit_customer_product_path(product), :class => "btn pull-right" %>
        </div>

      </td>
      <td class="product-stats-cell">
        <span class="line">1,3,9,0,0,0,0,0,5,2</span>
        <div class="text-info products-stats-count">15</div>
      </td>
    </td>
  </tr>
  <% end %>
  <% end %>
</tbody>
</table>
</div>
