<% content_for :title do %>
Newsletter Title
<% end %>
<tr>
  <td colspan='2'
  style="
  padding:15px 30px 5px 30px;
  background-color:#FFF;
  text-align:center;
  border:0;
  font-size:16px;
  font-family:"Helvetica Neue", sans-serif;"
  >

  <h1
  style="
  color:#595d64;
  padding-top:5px;
  padding-bottom: 20px;
  margin: 0;
  font-size: 25px;
  font-family:'Helvetica Neue', sans-serif;
  border-bottom: 1px solid #e3e3e3;
  "
  >
  Newsletter Title
</h1>

</td>
</tr>

<tr>
  <td colspan='2' style="padding:9px 18px;border-collapse:collapse;color:#333030;font-family:Georgia,Times,'Times New Roman',serif;font-size:20px;line-height:150%">

      <p style="margin: 15px 75px 25px 75px; text-align:center;
      color: #888;
      font-size: 18px; line-height: 1.3;">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>


</td>
</tr>


