<%= render partial: "tabs" %>

<div style="height: 90px;">
  <div id="js-new-list-form" class="row">
    <%= simple_form_for [:admin, @invite] do |f|%>
    <div class="row">
      <div class="col-md-offset-3 col-md-4">
        <%= f.input_field :email, placeholder: "Email" %>
      </div>
      <div class="col-md-2">
       <%= button_tag(type: 'submit', class: "btn btn-block btn-primary",  data: {disable_with: 'Sending...'}) do %>
       Send Invite
       <% end %>
     </div>

   </div>

   <% end %>
 </div>
 <div class="newsletter-list m-t-20">

  <table>
    <thead>
      <tr>
        <th class="list-name">Email</th>
        <th class="subscribers">Status</th>
        <th class="last-update">Created At</th>
        <th class="actions"></th>
      </tr>
    </thead>
    <tbody id="js-mailing-list">
     <% if @invites.blank? %>
     <tr><td colspan="4"><p class="text-center text-muted">No invites founds</p></td></tr>
     <% else %>
     <% @invites.each do |invite| %>
     <tr>

      <td> <%= invite.email %></td>

      <td> <%= invite.status %> </td>
      <td>
       <b><%= invite.invitation_created_at.to_time.strftime('%e %b %Y - %H:%m:%S') %></b>
      </td>
      <td>
       <%= link_to "Send",   send_invite_admin_invite_path(invite), :class => "btn btn-primary", remote: true,
        data: {disable_with: 'Sending...'} %>
     </td>


   </tr>
   <% end %>
   <% end %>
 </tbody>
</table>
<div class="pagination">
 <div>
   <%# paginate @orders %>
 </div>
</div>
</div>












</div>
