  <div class="row">
    <div class="share-msg">
      <h5>Product was created</h5>
      <p>Below your product url. Share with your audience</p>
    </div>
  </div>
  <div class="row">
    <div class="share-url">
      <small id="js-copied">Copied to clipboard</small>
      <div class="slug">
        <h4 id="js-slug"></h4>
        <a id="js-ext-link" class="" href="" target="_blank">
          <i class="fa  fa-external-link"></i></a>
          <a id="js-copy-to-clipboard"
          data-clipboard-target="js-slug"
          class=""
          href="#"><i class="fa fa-clipboard"></i></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="text-center col-md-6 col-md-offset-3">
        <a href="javascript: void(0)"
        class="btn btn-social-twitter btn-lg">
        <i class="fui-twitter"></i>
        Tweet
      </a>
      <a href=" javascript: void(0)"
      class="btn btn-lg btn-social-facebook">
      <i class="fui-facebook"></i>
      Share
    </a>
  </div>
</div>