development:
  secret_key_base: '4d4f09345df6c4d4a1a3794f6696fdad45c0b1fd4c95b4b5c04ba03ea98e0fc8bff556e066c0b1b9f0f898b65ce7a26c4fc4c2c37e23a2e79de10e59ad61032b'
  mailchimp:
    client_id: '135517854942'
    client_secret: '6fbcc1b11dfbad9d9e8f5dd4aecd0316'
  createsend:
    client_id: '100283'
    client_secret: '7u077FKdkvroP7e7hj2aGbRV77Zt7x5xIM7O755kv77cSBGM77Wx1RPhQ47X7hE7s577Q7acxv7M3itz'
  paymill:
    client_id: 'app_33e28cf221d8f945b7dee695272800221da33dbb2'
    client_secret: '4452f4f67ce1797a11cc840ab709c279'
    scope: 'transactions_w refunds_w payments_w webhooks_r'

test:
  secret_key_base: '4d4f09345df6c4d4a1a3794f6696fdad45c0b1fd4c95b4b5c04ba03ea98e0fc8bff556e066c0b1b9f0f898b65ce7a26c4fc4c2c37e23a2e79de10e59ad61032b'
  mailchimp:
    client_id: '135517854942'
    client_secret: '6fbcc1b11dfbad9d9e8f5dd4aecd0316'
  createsend:
    client_id: '100283'
    client_secret: '7u077FKdkvroP7e7hj2aGbRV77Zt7x5xIM7O755kv77cSBGM77Wx1RPhQ47X7hE7s577Q7acxv7M3itz'
  paymill:
    client_id: 'app_33e28cf221d8f945b7dee695272800221da33dbb2'
    client_secret: '4452f4f67ce1797a11cc840ab709c279'
    scope: 'transactions_w refunds_w payments_w webhooks_r'

production:
  secret_key_base: '3b787996bd548080ffb548691b53b446f515554d0a7bc59c9274b11d1b8258cc31e913fa5b9e7ab08255330ff4cb58018c1fbb980fbf5e1e7b691d711bb92729'
  paymill:
    client_id: 'app_1dc8214bd1274c2dc6d08a003837a5deb2c224bb4'
    client_secret: '8e2c409afdc917153fd4986a52f7ef16'
    scope: 'transactions_w refunds_w payments_w webhooks_r'