<ul class="nav nav-pills">
  <li>
    <%= link_to(customer_settings_account_path) do %>
    <i class="fa fa-user"></i> Account
    <% end %>
  </li>
  <li>
    <%= link_to(customer_settings_payments_path) do %>
    <i class="fa fa-money"></i> Payments
    <% end %>
  </li>
</ul>
