 <div class="headline"><h3>My Orders</h3></div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>User</th>
        <th>Product</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
          <% if @payments.blank? %>
          <tr> <td colspan="2">No payments Founds</td></tr>
          <% else %>
          <% @payments.each do |payment| %>
          <tr>
            <td></td>
            <td>
             <%= payment.product.name %>
            <div class="btn-group">


             <%= link_to "Show", customer_payment_path(payment), :class => "btn btn-info" %>
           </div>
         </td>
         <td><%= payment.amount %></td>
         <td>
           <%= link_to "Refund", refund_customer_payment_path(payment), :class => "btn btn-success" %>
           </td>
       </tr>
       <% end %>
       <% end %>
     </tbody>
</table>
</div>
