// Mixins tools
@import "mixins";
// Variables of theme
@import "variables";
// Theme
@import "theme";
@import "sections/layout";
@import "sections/products";
@import "sections/timeline";




.payment {
border-bottom: 1px solid @clouds;
padding-bottom: 10px;
margin-bottom: 30px;
height: 70px;
}
