<!--=== Slider ===-->
	<div class="slider-inner">
		<div id="da-slider" class="da-slider">
			<div class="da-slide">
				<h2><i>CLEAN &amp; FRESH</i> <br /> <i>FULLY RESPONSIVE</i> <br /> <i>DESIGN</i></h2>
				<p><i>Lorem ipsum dolor amet</i> <br /> <i>tempor incididunt ut</i> <br /> <i>veniam omnis </i></p>
				<div class="da-img"><img src="assets/plugins/parallax-slider/img/1.png" alt="" /></div>
			</div>
		</div><!--/da-slider-->
	</div><!--/slider-->
	<!--=== End Slider ===-->

	<!--=== Purchase Block ===-->
	<div class="row-fluid purchase margin-bottom-30">
		<div class="container">
			<div class="span9">
				<span>Unify is a clean and fully responsive incredible Template.</span>
				<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi  vehicula sem ut volutpat. Ut non libero magna fusce condimentum eleifend enim a feugiat.</p>
			</div>
			<a href="#" class="btn-buy hover-effect">Purchase Now</a>
		</div>
	</div><!--/row-fluid-->
	<!-- End Purchase Block -->

	<!--=== Content Part ===-->
	<div class="container"> 
		<!-- Service Blocks -->
		<div class="row-fluid">
			<div class="span4">
				<div class="service clearfix">
					<i class="icon-resize-small"></i>
					<div class="desc">
						<h4>Fully Responsive</h4>
						<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...</p>
					</div>
				</div>  
			</div>
			<div class="span4">
				<div class="service clearfix">
					<i class="icon-cogs"></i>
					<div class="desc">
						<h4>HTML5 + CSS3</h4>
						<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...</p>
					</div>
				</div>  
			</div>
			<div class="span4">
				<div class="service clearfix">
					<i class="icon-plane"></i>
					<div class="desc">
						<h4>Launch Ready</h4>
						<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...</p>
					</div>
				</div>  
			</div>              
		</div><!--/row-fluid-->
		<!-- //End Service Blokcs -->

