<div class="col-md-8 col-md-offset-1 sign-box">
<div class="head">
    <h2>Sign up &amp; Pricing</h2>
</div>

<div class="row">
<div class="col-md-6">
free
</div>

<div class="col-md-6">
pro
</div>
</div>
