<div class="static">
<h1>Terms of Service</h1>
<p>This Agreement was last modified on March 06, 2014.</p>

<p>Please read these Terms of Service ("Agreement", "Terms of Service") carefully before using upandsell.me ("the Site")
operated by Up&amp;Sell.me ("us", "we", or "our"). This Agreement sets forth the legally binding terms and conditions for your use of the Site at upandsell.me.</p>
<p>By signing up to the Site, you ("the User") have access to website Service("the Service") and agree to be bound by these Terms of Service.
Capitalized terms are defined in this Agreement.</p>

<p><strong>Intellectual Property</strong><br />The Site and its original content, features and functionality are owned by Up&amp;Sell.me and are protected by international copyright, trademark, patent, trade secret and other intellectual property or proprietary rights laws.</p>

<p><strong>Termination</strong><br />We may terminate your access to the Site, without cause or notice, which may result in the forfeiture and destruction of all information associated with you. All provisions of this Agreement that by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity, and limitations of liability.</p>

<p><strong>Links To Other Sites</strong><br />Our Site may contain links to third-party sites that are not owned or controlled by Up&amp;Sell.me.</p>
<p>Up&amp;Sell.me has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party sites or services. We strongly advise you to read the terms and conditions and privacy policy of any third-party site that you visit.</p>

<p><strong>Limited License</strong><br />Up&amp;Sell.me grants you a non-exclusive, non-transferable, limited license to use the Site in accordance with this Agreement.</p>

<p><strong>Limitation Of Liability</strong><br />In no event shall Up&amp;Sell.me, nor its directors, employees, partners, agents, suppliers, or affiliates, be liable for damages, direct or consequential, resulting from your use of the Site, and you agree to defend, indemnify and hold us harmless from any claims, losses, liability costs and expenses, including but not limited to attorney's fees, arrising from your violation of any third-party's rights.</p>

<p><strong>Warranty Disclaimer</strong><br />Your use of the Site is at your sole risk. The Site is provided on an "as is" and "as available" basis. The Site is provided without warranties of any kind, whether express or implied, including, but not limited to, implied warranties of merchantability, fitness for a particular purpose, non-infringement or course of performance.</p>
<p>Up&amp;Sell.me, its subsidiaries, affiliates, and its licensors do not warrant that a) the Site will function uninterrupted, secure or available at any particular time or location; b) any errors or defects will be corrected; c) the Site is free of viruses or other harmful components; or d) the results of using the Site will meet your requirements.</p>

<p><strong>Governing Law</strong>
<br />
This Agreement (and any further rules, polices, or guidelines incorporated by reference)
 shall be governed and construed in accordance with the laws of Italy, without giving effect to
  any principles of conflicts of law.</p>

<p><strong>Fees and Service Payments</strong>
<br />

 By selling Digital Goods via Up&amp;Sell.me, a 4% fee(based on total of the price paid by Customer)
  for each sale shall be deducted via the Service.  By accepting this Agreement, the User expressly
agrees to this condition and authorises Up&amp;Sell.me to withdraw the Fee from the User’s Paypal/Paymill account.

</p>

<p><strong>Changes To This Agreement</strong><br />We reserve the right, at our sole discretion, to modify or replace these Terms of Service by posting the updated terms on the Site. Your continued use of the Site after any such changes constitutes your acceptance of the new Terms of Service.</p>
<p>Please review this Agreement periodically for changes. If you do not agree to any of this Agreement or any changes to this Agreement, do not use, access or continue to access the Site or discontinue any use of the Site immediately.</p>

<p><strong>Contact Us</strong><br />If you have any questions about this Agreement, please contact us.</p>

</div>