    <script type="text/javascript">
    var PAYMILL_PUBLIC_KEY = '<%= @product.user.credit_card_public_token %>';
  </script>
 <div class="buy product" data-product-id="<%= @product.id %>">
   <div class="row buy-form">
     <div class="col-md-5">
      <div class="row ">
       <div class="col-md-12 pay-title">
         <h3>We charge you</h3>
         <h2 class="text-primary"> <%=  humanized_money_with_symbol  @product.price %></h2>
         <h3>for</h3>
         <p><%= @product.name %></p>

         <div class="sec-info">
          <p> We not store any of your credit card info.</p>
          <b><i class="fa fa-lock"></i> Your payment is secured by 128 bit SSL protocol.</b>
        </div>
      </div>
    </div>
  </div>
  <div class="credit-card col-md-7">
   <form role="form" class="cc-form">
     <div class="processing"></div>
     <div class="message">  <p> <i class="fa fa-lg fa-refresh fa-spin"></i></p>
     <p>Processing Payment...</p></div>
      <div class="form-group">
        <div class="left-addon ">
          <i class="fa fa-envelope fa-lg"></i>
          <input type="email" name="cc-email" class="cc-email form-control"  placeholder="Your Email">
        </div>
      </div>
      <div class="form-group">
        <div class="left-addon ">
          <i class="fa fa-credit-card fa-lg"></i>
          <input type="text" name="cc-num" class="cc-num form-control"  placeholder="Credit Card Number">
        </div>
      </div>
      <div class=" row form-group">
       <div class="col-md-4">
        <input type="text" name="cc-exp" class="cc-exp form-control"
        placeholder="MM/YYYY">
      </div>
      <div class="col-xs-offset-5 col-xs-3">
        <input type="text" name="cc-cvc" class="cc-cvc form-control"  placeholder="CVV">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-12">
        <button type="submit" class="btn btn-pay btn-lg btn-block btn-primary">Pay</button>
        <p class="middleline"><span>OR</span></p>
      </div>
    </div>
  </form>
    <% if @paypal %>
  <div class="row form-group">
    <div class="col-md-offset-1 col-md-10">

     <button data-index="2" href="#buy/paypal"
     class="toSlide btn btn-pay btn-lg btn-block btn-info">Checkout with Paypal</button>
   </div>
 </div>
<% end %>
</div>
</div>
</div>