 <div class="product buy-paypal" data-product-id="<%= @product.id %>">
   <div class="row product">
     <div class="col-md-12 text-center">
      <h2>Thanks</h2>
      <button href="#" class="btn btn-pay btn-lg btn-block btn-primary">Download</button>
    </div>
  </div>
</div>
