 <div class="buy-paypal" data-product-id="<%= @product.id %>">
   <div class="row product">
     <div class="col-md-12 text-center">
      <p> <i class="fa fa-lg fa-refresh fa-spin"></i></p>
      <p>Contacting Paypal...</p>
    </div>
  </div>
</div>