.form-error {
  visibility: hidden;
  position: absolute;
  top: -25px;
  left: 0;
  right: 0;
  p {
    .make-md-column(12);
    font-size: 14px;
    text-align: center;
    color: #F26667;
    font-weight: 500;
  }
}
.beta-email-input {
  .make-md-column-push(3);
  .make-md-column(6);
}
#js-beta-invite-sent {
  .make-row();
  display: none;
  margin: 0;
  p {
    color: #53aede;
    margin-top: 15px;
    font-size: 18px;
    margin: 0;
  }
}
form.invite {
 .make-row();
}

.beta-message {
  .make-row();
  p {
    color: #595d64;
    margin-top: 15px;
    font-size: 17px;
    font-weight: 500;
  }
}

.btn-invite {
 .btn-get-started;
 margin-bottom: 0px;
 position: absolute;
 top: 0px;
 right: 0px;
 border-radius: 0 6px 6px 0;
}
#header {
  height: 800px !important;
}

