.sign-box {
 .make-md-column-offset(4);
 .make-md-column(4);
 border: 1px solid #e3e3e3;
 box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.06);
 background-color: #f4feff;
 border-radius: 6px;
 padding-bottom: 12px;
 padding-left: 0;
 padding-right: 0;
 .head, .body {
  padding: 0 30px;
 }
 .head {
  border-bottom: 1px solid #e3e3e3;
  padding-top: 20px;
  background-color: white;
  border-radius: 6px 6px 0 0;

 }
 .body {
padding-top: 25px;
 }
 h3 {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 0px;
}
input {
  .form-control;
  border: 1px solid #dcdcdc;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.09) inset;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.09) inset;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.09) inset;
  line-height: 17px;
 // color: #a1a1a1;
  height: 40px;
  &:focus {
   border-color:  #a9d6ee !important;
   box-shadow: none;

 }
}


.has-error {
  border-color: #f56472;
}

.btn-submit {
 .btn;
 .btn-primary;
 .btn-block;
 background-color: #53aede;
 box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.18);
 border: none;
 font-weight: bold;
 font-size: 18px;
 padding: 14px;
 height: 55px;
 line-height: 9px;
 margin-top: 0px;
 border-radius: 6px;
   margin-top: 25px;
 &:hover {
  background-color: #4b9fca
}
}

.legal-info {
  width: 100%;
  margin-top: -10px;
  text-align: center;
  padding: 0 15px;
  color: #888;
}

.sign-box-links {
    width: 100%;
  margin-top: 25px;
  padding: 0 15px;
  a {color: #888;}
  text-align: center;
}
}

.unsubscribe-box{
  .sign-box;
  text-align: center;
  .head {
  h3 {
    font-size: 18px !important;
  }
}
.btn-submit {
  margin-top: 10px !important;
  line-height: 29px !important;
}
}