.navbar-top {
  .navbar;
  .navbar-default;
  .navbar-fixed-top;
  background-color: white;
  border-top: 5px solid #4a4e62;
  border-bottom: 1px solid #e3e3e3;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1);
  height: 101px;
  padding: 29px 20px;
  .navbar-brand {
    padding: 0px;
    margin-top: -6px;
  }
  .navbar-btn {
    .btn;
    .btn-primary;
    .pull-right;
    background-color: #53aede;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.18);
    border: none;
    font-weight: bold;
    font-size: 13px;
    padding: 14px;
    height: 38px;
    line-height: 9px;
    margin-top: 0px;
    border-radius: 6px;
    &:hover {
      background-color: #4b9fca
    }
  }
  .navbar-text-btn {
    .navbar-btn;
    background-color: white;
    box-shadow: none;
    padding: 14px;
    color: #555;
    margin-right: 5px;
    &:hover {
      background-color: white;
      color: #555;

    }
  }
}
.small-cloud-left-t {
  position: absolute;
  bottom: 182px;
  left: 23%;
  z-index: 1000;
}
.small-cloud-left-b {
  position: absolute;
  bottom: 112px;
  left: 27%;
  z-index: 1000;
}
.small-cloud-right {
 position: absolute;
 bottom: 166px;
 right: 25%;
 z-index: 1000;
}
#header {
  height: 780px;
  position: relative;
  background-color: #f4feff;
  border-bottom: 1px solid #e3e3e3;
  padding-top: 189px;

  .inner-header {
    min-height: 249px !important;
    text-align: center;
    .make-md-column(10);
    .make-md-column-offset(1);
  }
  h1 {
    color: #595d64;
    font-weight: 300;
    font-size: 54px;
    margin-top: 0px;
  }
  h2 {
    margin-top: 22px;
    font-size: 20px;
    font-weight: 400;
    color: #888;
    margin-bottom: 46px;
  }
  .bg-clouds-left {
    position: absolute;
    bottom: 0px;
    left: 5px;
    z-index: 80;
  }
  .bg-clouds-right {
    position: absolute;
    bottom: 0px;
    right: 5px;
    z-index: 80;
  }
  .btn-more {
    .btn;
    background-color: #f4feff;
    border: 1px solid #53aede;
    color: #53aede;
    font-size: 15px;
    font-weight: bold;
    margin-right: 30px;
    height: 50px;
    margin-bottom: 50px;
    line-height: 8px;
    padding: 20px 30px;
    border-radius: 6px;
    &:hover {
      border: 1px solid #4b9fca;
      color: #4b9fca !important;
      background-color: #e5f5fa;
    }
  }
  .btn-get-started {
    .btn;
    background-color: #53aede;
    font-size: 15px;
    font-weight: bold;
    color: white;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
    height: 50px;
    margin-bottom: 50px;
    line-height: 8px;
    padding: 20px 30px;
    border-radius: 6px;
    &:hover {
      color: white;
      background-color: #4b9fca;
    }
  }
  .browser-preview-wrap {
    .make-row();
    min-height: 341px;
    .browser-preview {
      position: absolute !important;
      bottom: 0;
      max-width: 720px;
      margin-right: auto;
      margin-left: auto;
      right: 0;
      left: 0;
      .make-md-column(8);


      .shadow-1 {
        margin: 0 auto;
        margin-left: 40px;
        margin-right: 40px;
        background: rgb(230,238,239);
        background: -moz-linear-gradient(top, rgba(230,238,239,1) 0%, rgba(223,230,232,1) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(230,238,239,1)), color-stop(100%,rgba(223,230,232,1)));
        background: -webkit-linear-gradient(top, rgba(230,238,239,1) 0%,rgba(223,230,232,1) 100%);
        background: -o-linear-gradient(top, rgba(230,238,239,1) 0%,rgba(223,230,232,1) 100%);
        background: -ms-linear-gradient(top, rgba(230,238,239,1) 0%,rgba(223,230,232,1) 100%);
        background: linear-gradient(to bottom, rgba(230,238,239,1) 0%,rgba(223,230,232,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6eeef', endColorstr='#dfe6e8',GradientType=0 );
        opacity: 0.5;
        height: 35px;
        border-radius: 6px 6px 0 0;
      }
      .shadow-2 {
        .shadow-1;
        opacity: 1;
        margin-top: -26px;
        margin-left: 20px;
        margin-right: 20px;
      }
      .browser-bar {
        margin-top: -35px;
        z-index: 1000;
        position: relative;
        height: 36px;
        width: 100%;
        box-shadow: 0px -10px 18px 0px rgba(0, 0, 0, 0.05);
      }
      .browser-tab {
        z-index: 1000;
        position: relative;
        height: 286px;
        width: 100%;
        margin-top: -9px;
        border: 1px solid #c5cdd0;
        border-top: none;
        border-bottom: none;
      }

    }
  }
}
