body {
  font-family:  "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.section {
  .make-row();
  padding-top: 100px;
  .section-text {
    .make-md-column-offset(1);
    .make-md-column(4);
    padding-right: 70px;
    h3, h4, h5, h6 {
      color: #595d64;
      font-size: 40px;
      font-weight: 300;
      margin-top: 0;
      margin-bottom: 50px;
    }
    p {
      color: #888;
      font-size: 15px;
    }
  }
  .section-illustration {
    text-align: center;
  }
}
.checkout-section {
  .section;
  border-bottom: 1px solid #e3e3e3;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.05);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(248,249,251,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(248,249,251,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(248,249,251,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(248,249,251,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(248,249,251,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(248,249,251,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f8f9fb',GradientType=0 );
  .section-illustration {
    .make-md-column-offset(1);
    .make-md-column(5);
    text-align: center;
  }
}
.payments-section {
  padding-bottom: 50px;
  .section;
  .section-illustration {
    .make-md-column(5);
    text-align: center;
  }
  .section-text {
    .make-md-column-offset(2);
    .make-md-column(4);
  }
}
.pay-separator {
  background: image-url("pay_section_separator.png") no-repeat center;
  height: 50px;
  width: 100%;
}

.features-section {
  padding-bottom: 50px;
  .section;
  h4 {
    font-weight: 300;
    font-size: 40px;
    text-align: center;
    color: #595d64;
    width: 45%;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .feature-box {
    .make-md-column(3);
    .make-md-column-offset(1);
  }
}

.teaser-section {
  padding-bottom: 50px;
  background-color: #f5f7f9;
  border-bottom: 1px solid #e3e3e3;
  .section;
  .head {
    .make-md-column(6);
    .make-md-column-offset(3);
    h5 {
      margin-top: 0px;
      font-weight: 100;
      font-size: 40px;
      text-align: center;
      color: #595d64;
      margin-bottom: 50px;
    }
    p {
      color: #888;
      font-size: 15px;
      text-align: center;
    }
  }

}
.pricing-section {
  padding-bottom: 50px;
  .section;
  .head {
    .make-md-column(6);
    .make-md-column-offset(3);
    h6 {
      margin-top: 0px;
      font-weight: 100;
      font-size: 40px;
      text-align: center;
      color: #212121;
      margin-bottom: 50px;
    }
    p {
      color: #888;
      font-size: 15px;
      text-align: center;
    }
  }
}

#footer {
  .container;
  border-top: 1px solid #e3e3e3;
  padding-top: 25px;
  padding-bottom: 25px;
  .line-1 {
    .make-row();
    .footer-brand {
      .make-md-column(2);
      padding-bottom: 15px;
    }
    .social-icons {
     .make-md-column(10);
     text-align: right;
     span {
      color: #939290;
      font-size: 13px;
      padding-right: 5px;
    }
    a {
      background-color: #f3f3f3;
      border-radius: 3px;
      color: #797979;
      width: 28px;
      height: 28px;
      text-align: center;
      padding-top: 8px;
    }
  }
}

.line-2 {
  .make-row();
  .site-info {
    .make-md-column(4);
    p {
      text-align: left;
      font-size: 13px;
      color: #939290;
      margin: 0;
      a {
        color: #53aede;
      }
    }
  }
  .site-links {
   .make-md-column(8);
   ul {
    .pull-right;
    list-style: none;
    float: left;
    display: inline-block;

    li {
      display: inline;
    }
    a {
      color: #939290;
      font-size: 13px;
    }
  }
}
}
}

