body {
  font-family:   "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.site {
  padding-top: 150px;
  background-color: #f5f7f9;
}
a {
  color: #53aede;
}
html, body {
  height: 100%;
}
#wrap {
  min-height: 100%;
  height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
  height: 100%;
  margin-bottom: -110px; /* the bottom margin is the negative value of the footer's height */
 .container-fluid;
  padding-bottom:  110px;
}
#footer {
  height: 110px; /* .push must be the same height as .footer */
}

h3 {
  color: #595d64;
  font-size: 40px;
  font-weight: 200;
  margin-top: 0;
}
.site-container {
  .container;
}
.site-page {
  .make-row();
}
.page-grid {
  .make-md-column-offset(2);
  .make-md-column(8);
  padding-bottom: 50px;
}

.section {
  .make-row();
  padding-top: 100px;
  .section-text {
    .make-md-column-offset(1);
    .make-md-column(4);
    h3, h4, h5, h6 {
      color: #595d64;
      font-size: 40px;
      font-weight: 200;
      margin-top: 0;
      margin-bottom: 50px;
    }
    p {
      color: #888;
      font-size: 15px;
    }
  }

}
.checkout-section {
  .section;
  border-bottom: 1px solid #e3e3e3;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.05);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(248,249,251,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(248,249,251,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(248,249,251,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(248,249,251,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(248,249,251,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(248,249,251,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f8f9fb',GradientType=0 );
  .mock-checkout {
    position:  absolute;
    top: 87px;
    right: 149px;
    width: 275px;
  }
  .section-illustration {
    .make-md-column-offset(1);
    .make-md-column(5);
  //  text-align: center;
}
.section-text {
  .make-md-column-offset(2);
  .make-md-column(4);
}
}
.payments-section {
  padding-bottom: 90px;
  background: image-url("pay_section_separator.png") no-repeat center bottom;
  .section;
  .section-illustration {
    .make-md-column(5);
    text-align: center;
  }
  .section-text {
    .make-md-column-offset(2);
    .make-md-column(5);
  }
}

.features-section {
 background: image-url("features_box_bg.png") no-repeat center bottom;
 padding-top: 65px !important;
 padding-bottom: 200px;
 border-bottom: 1px solid #e3e3e3;
 box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.05);
 .section;
 h4 {
  font-weight: 300;
  font-size: 40px;
  text-align: center;
  color: #595d64;
  width: 45%;
  margin: 0 auto;
  margin-bottom: 65px;
}
.feature-box {
  text-align: center;
  h5 {
    text-align: left;
    font-size: 25px;
    color: #595d64;
    margin-top: 55px;
    margin-bottom: 30px;
    line-height: 30px;
    font-weight: 200;
  }
  p {
    color: #888;
    font-size: 15px;
    text-align: left;
  }
  .make-md-column(3);
  .make-md-column-offset(1);
}
}

.teaser-section {
  padding-bottom: 150px;
  background-color: #f5f7f9;
  border-bottom: 1px solid #e3e3e3;
  background-image: image-url("stats_bg.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  .section;
  .ads-logos {
    .make-row();
    width: 675px;
    margin: 0 auto;
    .ad-logo {
     .make-md-column(3);
     .make-md-column-offset(1);
   }
 }
 .head {
  .make-md-column(6);
  .make-md-column-offset(3);
  margin-bottom: 55px;
  h5 {
    margin-top: 0px;
    font-weight: 200;
    font-size: 40px;
    text-align: center;
    color: #595d64;
    margin-bottom: 50px;
  }
  p {
    color: #888;
    font-size: 15px;
    text-align: center;
  }
}

}
.pricing-section {
  padding-bottom: 50px;
  .section;
  .head {
    .make-md-column(6);
    .make-md-column-offset(3);
    margin-bottom: 46px;
    h6 {
      margin-top: 0px;
      font-weight: 200;
      font-size: 40px;
      text-align: center;
      color: #212121;
      margin-bottom: 42px;
      line-height: 29px;
    }
    p {
      color: #888;
      font-size: 15px;
      text-align: center;
    }
  }
  .pricing-plans {
    .make-row();
    margin-bottom: 105px;
    .plan-green {
      .plan;
      .make-md-column(4);
      .make-md-column-offset(2);
    }
    .plan-blue {
      .plan;
      .make-md-column(4);
      .make-md-column-offset(1);
    }
    .plan {
      .btn-tag {
        .btn;
        background-color: #fff;
        border: 1px solid #99cc00;
        color: #99cc00;
        font-size: 15px;
        font-weight: bold;
        height: 50px;
        margin-bottom: 50px;
        line-height: 8px;
        padding: 20px 30px;
        border-radius: 6px;

      }
      .btn-tag-blue {
        .btn-tag;
        border: 1px solid #53aede;
        color: #53aede;
        &:hover {
          border: 1px solid #4b9fca;
          color: #4b9fca !important;
          background-color: #e5f5fa;
        }
      }
      .plan-text {
        float: left;
        margin-left: 30px;
        ul {
          padding-left: 16px;
          margin-bottom: 24px;
          li {
            color: #99cc00;
            font-size: 15px;
            span {
              color: #555;
              font-size: 13px;
            }
          }
        }
      }
      .plan-text-blue {
        .plan-text;

        ul {
          li {
           color: #53aede;
         }
       }
     }
     .plan-tag {
      float: left;
      img {
        position: absolute;
        top: -32px;
        left: 74px;
      }
      text-align: center;
      width: 150px;
      height: 200px;
      border-radius: 6px;
      border: 1px solid #e3e3e3;
      box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
      .tag-head {
        height: 36px;
        border-bottom: 1px solid #e3e3e3;
        text-transform: uppercase;
        text-align: center;
        font-size: 14px;
        font-weight: 700;
        line-height: 26px;
      }
      .tag-currency {
        font-size: 18px;
        color: #555;
        font-weight: 700;
        position: absolute;
        top: 71px;
        left: 62px;

      }
      .tag-price {
        font-size: 60px;
        color: #99cc00;
        font-weight: 200;
      }
      .bottom-tag {
        height: 65px;
        background-color: #99cc00;
        border-radius: 0 0 6px 6px;
        border: 1px solid #82ad00;
        padding: 18px;
        .f-p {
          color: white;
          font-weight: 700;
          font-size: 15px;
          margin-bottom: 0px;
          line-height: 15px;
          text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
        }
        .s-p {
          color: white;
          font-weight: 400;
          font-size: 13px;
          line-height: 15px;
          text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);

        }
      }
    }
    .plan-tag-green {
      .plan-tag;
      .tag-price {
        color: #99cc00;
      }
      .bottom-tag {
        background-color: #99cc00;
        border: 1px solid #82ad00;
      }
    }

    .plan-tag-blue {
      .plan-tag;
      .tag-price {
        color: #53aede;
      }
      .tag-currency {
        font-size: 18px;
        color: #555;
        font-weight: 700;
        position: absolute;
        top: 71px;
        left: 46px;

      }
      .bottom-tag {
        background-color: #53aede;
        border: 1px solid #3a7a9c;
      }
    }
  }
}
}

#footer {
  background-color: white;
  .wrap-footer {
    background: image-url("footer-shadow.png") no-repeat center top;
    border-top: 1px solid #e3e3e3;
    //padding-bottom: 25px;
    .container;
    .line-1 {
     padding-top: 25px;
     .make-row();
     .footer-brand {
      .make-md-column(2);
      padding-bottom: 15px;
    }
    .social-icons {
     .make-md-column(10);
     text-align: right;
     span {
      color: #939290;
      font-size: 13px;
      padding-right: 5px;
    }
    a {
      background-color: #f3f3f3;
      border-radius: 3px;
      color: #797979;
      width: 28px;
      height: 28px;
      text-align: center;
      padding-top: 8px;
    }
  }
}

.line-2 {
 .make-row();
 .site-info {
  .make-md-column(4);
  p {
    text-align: left;
    font-size: 13px;
    color: #939290;
    margin: 0;
    a {
      color: #53aede;
    }
  }
}
.site-links {
 .make-md-column(8);
 ul {
  .pull-right;
  list-style: none;
  float: left;
  display: inline-block;

  li {
    display: inline;
  }
  a {
    color: #939290;
    font-size: 13px;
  }
}
}
}
}
}

