<div class="row">
  <div class="col-md-8 col-md-offset-2 text-center">
    <p>Setup complete, add your first product and start selling with us.</p>
    <p><%= link_to(new_user_product_path, class: "btn btn-lg btn-primary") do %>
     Add New Product
     <% end %></p>
   </div>
 </div>

