body {
  background-image: image-url('back.png');
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #555;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  padding-top: 77px;
}

.home {
  padding-top: 0px;
}
.static {
  background-color: white;
  background-color: white;
  margin-top: 34px;
  padding: 10px 60px;
  border-radius: 6px;
}
.navbar-default {
  background-color: rgba(50, 50, 55, 0.95);
  border-color: transparent;
  margin-bottom: 0;
  padding: 10px 0;
}
.btn-default {
  background-color: transparent;
}
.btn-front-primary {
  background-color: transparent;
  border: @turquoise solid 2px;
  text-transform: uppercase;
  color: @turquoise;
}
.btn-front-primary:hover {
  color: #323237;
  background-color: #FFFFFF;
  border-color: #FFFFFF;
}
img {
  -webkit-box-shadow: 1px 6px 8px rgba(50, 50, 50, 0.2);
  -moz-box-shadow: 1px 6px 8px rgba(50, 50, 50, 0.2);
  box-shadow: 1px 6px 8px rgba(50, 50, 50, 0.2);
  .img-rounded;
}

html, body {
  height: 100%;
}

#footer {
  height: 60px;
  background-color: white;
    margin-top: 10px;
  ul {
    padding-left: 0;
    li {
      display: inline;
padding: 0 2px;
    }
  }
}
#wrap {
 background-color: rgba(50, 50, 55, 0.80);
 min-height: 100%;
 height: auto;
 margin: 0 auto -60px;
 padding: 0 0 60px;
}

#header {
 // background: #3E3F3A;
// background-color: #323237;
 // background: -webkit-radial-gradient(bottom center,circle,#4D4E48,#2E2F2B);
 // background: radial-gradient(bottom center,circle,#4D4E48,#2E2F2B);
 overflow: hidden;
 color: #F8F5F0;
 margin-top: -20px;
 padding-top:120px;
 height: 100%;

 h1 {
  margin-top: 40px;
  margin-bottom: 15px;
  color: #F8F5F0;
  font-size: 48px;
  font-weight: 300;
  letter-spacing: 1px;
  text-align: center;
}
h2 {
  color: #AAA;
  margin-top: 0px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 1px;
}

h3 {
 margin-top: 15px;
 margin-bottom: 100px;
 font-size: 16px;
 letter-spacing: 0.7px;
 color: #fdfdfd;
 b {
  font-size: 105%;
  color: white;
}
}

}
.sign-box {
  background-color: white;
  border-radius: 6px;
  margin-top: 60px;
  padding: 22px;
  small {
    display: inline-block;
    margin-top: 10px;
    line-height: 1.5;
  }
  .btn-sign-in {
    margin-top: 32px;
  }
  .head {
   padding-bottom: 17px;
   border-bottom: @clouds dotted 2px;
   margin-bottom: 17px;
 }
 h2 {
  margin-top: 0px;
  margin-bottom:  0px;
}
h3 {
 color: #333;
 margin-top: 15px;
 font-size: 30px;
}
}


/* Titles */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #333;
}

h1 {
  font-size: 40px;
}

h3 {
  color: white;
  font-weight: 400;
  font-size: 20px;
}

h4 {
  color: #95a5a6;
  font-weight: 400;
  font-size: 20px;
}

/* Paragraph & Typographic */
p {
  line-height: 28px;
  margin-bottom: 25px;
  font-size: 16px;
}

.centered {
  text-align: center;
}


hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
.navbar-btn {
  margin-right: 10px;

}


.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

/* Helpers */

.mt {
  margin-top: 40px;
  margin-bottom: 40px;

}

i {
  margin: 8px;
  color: #3498db;
}


#footer {
  .text-center;
  background-color: white;
  padding-top: 6px;
  font-weight: 600;
  height: 60px;
}


.box-arrow {
  color: rgba(52, 152, 219, 0.72);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 40px;
  height:59px;
  display: block;
  position: relative;
  font-size: 40px;
  text-align: center;
  background-color: #fafafa;
}

.arrow{
  border-bottom:solid 18px rgba(52, 152, 219, 0.72);
  /*  border-left: solid 5px transparent;   */
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  position:absolute;
  width: 0;
  height: 0;
  top: -18px;
  left: 45%;
}


