/* Manifest File for Product FrontEnd */

@import "bootstrap/less/bootstrap.less";
@import "font-awesome/less/font-awesome.less";
@import "flat-ui-official/less/flat-ui.less";
@import "fullpage.js/jquery.fullPage.css";
@local-font-path: "/assets/lato/";

/* Titles */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  color: #333;
}

h1 {
  font-size: 40px;
}
h2 {
  border-top: 15px;
}
h3 {
  font-weight: 400;
}

/* Paragraph & Typographic */
p {
  line-height: 28px;
  margin-bottom: 25px;
  font-size: 16px;
  font-weight: 500;
}

.container {
  max-width: 810px !important;
  font-weight: 300;
  font-size: 16px;
  color: #555;
  -webkit-font-smoothing: antialiased;
}
.product {

  .btn {
    margin-bottom: 5px;
  }

  h1 {
   margin-top: -10px;
 }

 .title {
  border-bottom: @clouds solid 2px;
  padding-bottom: 0px;
}
.author {
  position: relative;
  bottom: 5px;
}
.info {
 border-left: @clouds  solid 1px;
}
.description {
 margin-top: 20px;
 padding: 0px;
}
}
.product {
  padding: 0px 15px;
  padding-bottom: 0px;
  border-radius: 6px;
  border: #ededed solid 2px;
  background-color: white;
}

.product-page {
  background-color: @clouds;
}
.product-image {
  border-bottom: @clouds  solid 2px;
  /*background-color: @clouds;*/
  border-top: none;
}
.details {
 margin-top: 15px;
 ul {
  list-style-type: none;
margin: 0;
padding: 0;
 }
 li {
  font-size: 15px;
line-height: 1.4;
padding: 10px 0;
border-bottom: @clouds solid 2px;
b { float: right; }
 }
}
.product-image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#footer p {
 border-top: @clouds solid 2px;
 margin-bottom: 5px;
 padding: 10px;
 .text-center;
}