<div class="sign-in-container text-center">
  <div class="row">
    <div class="sign-in-box">
      <div class="body">
<p><b>You have been successfully unsubscribed.</b></p>
</div>

</div>
</div>
</div>
