<div class="unsubscribe-box">
<div class="head">
<h3>Are you sure you want to unsubscribe?</h3>
</div>
<div class="body">
<%= link_to  "Confirm unsubscription", confirm_unsubscribe_order_path(params),
 class:"btn-submit" %>
</div>
</div>