<div class="sign-in-container text-center">
  <div class="row">
    <div class="sign-in-box">
      <div class="body">
<p><b>Are you sure you want to unsubscribe?</b></p>
<%= link_to  "Confirm unsubscription",
confirm_unsubscribe_user_path(params),
 class:"btn-submit" %>

</div>
</div>
</div>
</div>
