<div class="col-md-6 col-md-offset-3 sign-box">

<p><b>Are you sure you want to unsubscribe?</b></p>
<%= link_to  "Confirm unsubscription",
confirm_unsubscribe_user_path(params),
 class:"btn btn-primary" %>

</div>