 <style>
 body {
  background-color: #fdfdfd !important;
 }
 </style>
<div class="row error_page">
<div class="col-md-12">
<h2><b>UP</b>&amp;<b>SELL</b>.ME</h2>
<h4>We are unable to verify your paypal payment.</h4>
<p>Try reload the page and if the problem persists please contact us at
<b class="reverse">em.llesdnapu@troppus</b>. </p>
</div>
</div>