<div id="page" class="col-md-12 ol-md-offset-3">
  <div data-slidr="landing" class="section">
    <%= render partial: "products/landing" %>
  </div>
</div>


  <% if @credit_card %>
    <div id="buy" style="display:none;">
     <%= render partial: "products/payments/credit_card" %>
   </div>
   <% end %>
    <% if @paypal  %>
  <div id="paypal"   style="display:none;">
    <%= render partial: "products/payments/paypal" %>
  </div>
  <% end %>
