<div id="product-page-wrapper">
<div id="product-page-container">
<div id="js-product" class="product-page-landing">
  <%= render partial: "products/landing" %>
</div>
<div id="js-product-modal" class="product-page-buy">
  <%= render partial: "products/modal" %>
</div>
</div>



