<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>
 
<p>
  <strong>Desc:</strong>
  <%= @product.description %>
</p>

<%= image_tag @product.thumb.url %>

<%= link_to 'Buy', [:buy, @product] %>
