.header-seperation {
  background-color: @peter-river;
  width: 215px;
}
h6 {
  margin-top: 5px;
  font-size: 17px;
}
.tab-content {
  border: none;
  border-radius: 0px;
}

.user-profile-pic-2x {
  border-radius: 100px 100px 100px 100px;
  height: 70px !important;
  overflow: hidden;
  width: 70px !important;
}

#area-example {
  background-color: @clouds;
}

.head-title {
  text-transform: uppercase;
  margin-left: 15px;
  font-size: 30px;
  margin-top: 14px;
}

.header-seperation {
  float: none;
  .text-center;
  padding-top: 15px;
}
.brand {

  float: none !important;
  margin-top: 5px;
  .text-center;
  .navbar-brand;
  color: white;
  font-weight: 100;
  font-family: 'Lato';
  text-transform: uppercase;
}

.quicklinks {

  &:hover {
    a {
      i {color: @peter-river !important;}

    }
  }

  i {
    font-size: 20px !important;
  }
}

.quick-section {
  background-color: @clouds;
  margin: 0 !important;
  padding: 16px;
  height: 60px;
  .h-seperate {
    top: -5px !important;
    display: block !important;
    margin: 0px 14px 0px 14px !important;
    height: 42px !important;
  }
}
.header-quick-nav {
  padding-right: 0 !important;
}
.page-sidebar {

//width: 200px;
}

.user-info-wrapper {
  display: block;
  margin: 20px 31px;
  margin-bottom: 20px !important;
}
.page-sidebar-wrapper {

  ul {
    .active {
      background-color: #2A394F !important;
     // border-left: #3498db 4px solid !important;
   }
   li {
    //  border-left: transparent 4px solid !important;
    &:hover {
     a {
      background-color: #2A394F !important;
    }
  }
  a {
    padding: 18.5px 23px 18.5px 23px !important;
    font-size: 18px !important;
    color: @clouds;

    i { font-size: 28px !important; color: @silver;}
  }
}
}
}
.small-text {
  font-size: 16px !important;
}

ul > li {
padding-left: 0px !important;
}

.action-links {
  margin-top: 10px;
}
.btn-circle {
 font-size: 21px;
 border-radius: 50%;
 width: 40px;
 height:  40px;
 border: 2px solid  #dfdfdf;
 color: @silver;
 display: block;
 float: right;
 margin-right: 10px;
 &:hover{
  background-color: @clouds;
  color: @peter-river;
}
display: table-cell;
vertical-align: middle;
text-align: center;
text-decoration: none;
i {
  top: 3px;
  font-size: 24px;
  position: relative;
}

}

.btn-circle-b {
  .btn-circle;
  font-size: 23px;
  i {
    font-size: 24px;
    top: 6px;
  }

}









