.header-seperation {
  background-color: @peter-river;
}
.tab-content {
  border: none;
  border-radius: 0px;
}

.user-profile-pic-2x {
  border-radius: 100px 100px 100px 100px;
  height: 70px !important;
  overflow: hidden;
  width: 70px !important;
}

#area-example {
  background-color: @clouds;
}

.head-title {
  text-transform: uppercase;
  margin-left: 15px;
  font-size: 30px;
  margin-top: 14px;
}

.header-seperation {
  float: none;
  .text-center;
  padding-top: 15px;
}
.brand {

  float: none !important;
  margin-top: 5px;
  .text-center;
  .navbar-brand;
  color: white;
  font-weight: 100;
  font-family: 'Lato';
  text-transform: uppercase;
}

.quicklinks {

  i {
    font-size: 20px !important;
  }
}
.page-sidebar {

//width: 200px;
}

.user-info-wrapper {
  display: block;
  margin: 20px 31px;
  margin-bottom: 20px !important;
}
.page-sidebar-wrapper {

  ul {
    .active {
      background-color: #2A394F !important;
      border-left: #3498db 4px solid !important;
    }
    li {
      border-left: transparent 4px solid !important;

      a {
        padding: 18.5px 31px 18.5px 31px !important;
        font-size: 20px !important;

        i { font-size: 28px !important; color: #3498db !important;}
      }
    }
  }
}
.small-text {

  font-size: 16px !important;
}