.tools-menu {
  ul {
   .nav;
   .nav-tabs;
   margin-bottom: 0px !important;
 }
}

.tools-page {
 border: none;
 border-radius: 0px;
 background-color: #fff;
 padding: 40px 20px 20px;
 .make-row();
 border-radius: 6px;
 .select .btn {
  width: 100% !important;
}
}

.newsletter-list {
  .btn-send {
    .btn-circle;
    i {
      right: 3px;
      top: 9px !important;
    }
  }
  .make-md-column(12);
 //.make-md-column-offset(1);
 table {
  .table;
  .table-condensed;
  thead {
    //tr > th {.text-center;}
    .list-name { width: 40%;}
    .subscribers {width: 10%;}
    .actions {width: 20%}
    .last-update {width: 15%}
  }
}
.pagination {
 .make-row();
 &:first_child {
   .make-md-column(6);
   .make-md-column-offset(5);
 }
}
}

.newsletter-send {
 .make-md-column(10);
 .make-md-column-offset(1);

 .newsletter-send-title {
  .make-row();
  h6 {
    .make-md-column(12);
   // .text-center;
   margin-bottom: 30px;
   text-transform: uppercase;
   font-size: 22px;
   border-bottom: 1px solid  #ddd;
   padding-bottom: 6px;
   b {
    font-weight: 600;
    text-transform: none;
  }
  i {
    .text-muted;
    font-size: 16px;
    float: right;
    margin-top: 10px;
  }
}
}

.newsletter-send-content {
 .make-md-column(12);
 input {
  border: 0;
  border-bottom: 3px solid #ddd;
  border-radius: 0;
  font-size: 22px;
}
.froala-box {
  .make-md-column(12);
  .froala-editor {
    border-color: #ddd !important;
    border-top: solid 1px #ddd;
    border-radius: 6px 6px 0 0;

  }
  .froala-element {
    border: 1px solid #ddd !important;
    font-size: 16px;
    border-radius: 0 0 6px 6px;
  }
}

}
p {
  margin-bottom: 6px;
}

}

.newsletter-form {
  .make-row();
  margin-bottom: 50px;
}
