.tools-menu {
  ul {
   .nav;
   .nav-tabs;
   margin-bottom: 0px !important;
 }
}

.tools-page {
 border: none;
 border-radius: 0px;
 background-color: #fff;
 padding: 40px 20px 20px;
 .make-row();
 border-radius: 6px;
 .select .btn {
  width: 100% !important;
}
}

.newsletter-list {
 .make-md-column(12);
 //.make-md-column-offset(1);
 table {
  .table;
  .table-condensed;
  thead {
    //tr > th {.text-center;}
    .list-name { width: 40%;}
    .subscribers {width: 10%;}
    .actions {width: 20%}
    .last-update {width: 15%}
  }
}
.pagination {
 .make-row();
 &:first_child {
   .make-md-column(6);
   .make-md-column-offset(5);
 }
}
}

.newsletter-send {
 .make-md-column(10);
 .make-md-column-offset(1);
 #wmd-button-row {
  .btn-sm {
    border-radius: 0 !important;
  }
}

#wmd-input {
 margin-top: 0 !important;
 border-radius: 0 6px 6px 6px;
}
p {
  margin-bottom: 6px;
}
#wmd-preview {
 margin-top: 0px !important;
 overflow: auto;

}

}

.newsletter-form {
  .make-row();
  margin-bottom: 50px;
}
