.settings-menu {
  ul {
   .nav;
   .nav-tabs;
   margin-bottom: 0px !important;
 }
}

.settings-page {
  .make-row();
  .box;
  padding: 30px 20px 20px;
}

.settings-emails {
  .make-md-column(12);
  h5 {
    margin-bottom: 30px;
    text-align: center;
  }
  p {
    text-align: center;
    margin-bottom: 4px !important;
  }
  form {.form-horizontal;}
  .form-actions {
    .make-md-column(12);
    text-align: center;
    input {
      .btn;
      .btn-primary;
    }
  }
}

.settings-payments {
  .make-md-column(8);
  .make-md-column-offset(2);
  .unfocus {
    opacity: 0.4;
  }
  .paypal-row {
    .payment-row;
    border-bottom: @border-strong;
    height: 110px;
    .paypal-box {
      .payment-box;
    }
  }
  .cc-row {
    .payment-row;
    padding-top: 40px;
    .cc-form-box {
      .payment-box;
      .logos-box {
        height: 80px;
        img {
         .pull-left;
         height: 35px;
         margin-right: 20px;
       }
     }
     .cc-form-row {
       .make-row();
     }
     .cc-form {
      padding-top: 30px;
      .make-md-column(12);
      form {.form-horizontal;}
      .form-row {
        .make-row();
        .form-group;
        .row-label {
          .make-md-column(3);
        }
        .row-input {
          .make-md-column(6);
          .select .btn {
            width: 200px;
          }
        }
      }
    }
  }
}




.form-footer {
  .payment-row;
  border-top: @border-light;
  .form-actions {
    .make-md-column(12);
    .text-center;
    .btn-form {
      .btn;
      .btn-primary;
    }
  }
}
.payment-box {
  .make-md-column(10);
  .make-md-column-offset(1);
}
.payment-row {
  .make-row();
  margin-bottom: 0px;
  padding-bottom: 20px;
  padding-right: 5px;
  padding-top: 25px;
  .payment-switch {
    .make-md-column(1);
  }
  .cc-form-box {
   border-bottom: none !important;
 }
 .payment-connect {
  .btn;
  .btn-primary;
  .pull-right;
}
}

}
.settings-form {
 .make-md-column(10);
 .make-md-column-offset(1);
 padding-top: 30px;
 form {
  .form-horizontal;
}
.avatar-box {
  float: left;
  width: 110px;
  height: 110px;
  img {
    .img-circle;
    width: 110px;
    height: 110px;
    border: 3px solid #e3e3e3;
  }
}
.avatar-upload {
 float: left;
 margin-left: 30px;
 vertical-align: middle;
 padding-top: 32px;
}
.form-row {
  .make-row();
  .form-group;
  .row-label {
    .make-md-column(5);
  }
  .row-input {
    .make-md-column(5);
    .select .btn {
      width: 88px;
    }
  }

  .form-actions {
    .make-md-column(12);
    .text-center;
    input {
      .btn;
      .btn-primary;
    }
  }
}
}
.email-preview-form {
  .make-row();
}
.email-preview-wrapper {
  .make-md-column(8);
  .make-md-column-offset(2);
  border-radius: 6px;
  background-color: #fafafa;
  .email-preview-box {
    border: 1px solid #e3e3e3;
    border-radius: 6px;
    background-color: white;
  //  height: 500px;
  width: 480px;
  margin: 20px auto;
  .email-preview-head {
    border-bottom: 1px solid #e3e3e3;
    text-align: center;
    padding: 25px;
    padding: 25px 80px;
    input {
      text-align: center;
    }
  }
  .email-preview-body {
    text-align: center;
    padding: 25px 40px;
    margin: 10px;
    textarea {
      height: 150px;
      text-align: left;
    }
    .btn-email {
      margin-top: 15px;
      background: #53aede;
      border-radius: 6px;
      color: #ffffff;
      display: inline-block;
      font-family: sans-serif;
      font-size: 17px;
      font-weight: bold;
      line-height: 55px;
      text-align: center;
      text-decoration: none;
      width: 200px;
      border: none;
      opacity: 0.4;
    }
    .alt-link-email {
      color: #999 !important;
      display: block !important;
      font-size: 13px !important;
      margin-top: 10px;
      opacity: 0.4;
    }
    .social-email {
      .make-row();
      opacity: 0.4;
      margin-top: 25px;
      border-top: 1px solid #e3e3e3;
      p {
        padding-top: 20px;
        color: #888 !important;
        font-family: 'Helvetica','Arial',sans-serif !important;
        font-size: 20px;
      }
      a {
        margin-right: 5px;
      }
    }
  }
}
}



