<!--=== Copyright ===-->
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>2014 &copy; Up&Sell.It</p>

            </div>
        </div><!--/row-fluid-->
    </div><!--/container-->
</div><!--/copyright-->
                <!--=== End Copyright ===-->
