<!--=== Copyright ===-->
<div class="copyright">
    <div class="container">
        <div class="row-fluid">
            <div class="span9">                     
                <p>2013 &copy; Up&Sell.It <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a></p>
                
            </div>
            <div class="span3"> 
                <!-- Stay Connected -->
                <ul class="social-icons">
                    <li><a href="#" data-original-title="Feed" class="social_rss"></a></li>
                    <li><a href="#" data-original-title="Facebook" class="social_facebook"></a></li>
                    <li><a href="#" data-original-title="Twitter" class="social_twitter"></a></li>
                    <li><a href="#" data-original-title="Goole Plus" class="social_googleplus"></a></li>
                    
                </ul>
            </div>
        </div><!--/row-fluid-->
    </div><!--/container--> 
</div><!--/copyright--> 
                <!--=== End Copyright ===-->