<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Up&amp;Sell.me</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "product"%>
  <%= javascript_include_tag "product"%>
  <%= csrf_meta_tags %>
</head>
<body class="product-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <%= yield %>
      </div>
    </div>
  </div>
  <script type="text/javascript">
  var PAYMILL_PUBLIC_KEY = '98121246257b75d119a343538348e8bf';
</script>
  <script type="text/javascript" src="https://bridge.paymill.com/"></script>
</body>
</html>