<%= render partial: "tabs" %>

<div class="newsletter-list">

  <table>
    <thead>
      <tr>
        <th class="list-name">List Name</th>
        <th class="subscribers"> Subscribers</th>
        <th class="last-update">Last Update</th>
        <th class="actions">Actions</th>
      </tr>
    </thead>
    <tbody>
     <tr>

     </tr>
   </tbody>
 </table>
 <div class="pagination">
   <div>
     <%# paginate @orders %>
   </div>
 </div>
</div>












</div>


