<%= render partial: "user/tools/tabs" %>

<div class="newsletter-send">
  <div class="row">
    <div class="col-md-12">
    <h5 class="text-center" style="margin-bottom: 30px;">
    Send Email to <b>Mailing list name</b>
    </h5>

    </div>
  </div>
  <form>
    <div class="form-group row">
      <div class="col-md-10">
        <input type="email" class="input-lg form-control" id="exampleInputEmail1" placeholder="Subject">
      </div>
      <div class="col-md-2">
       <button type="submit" class="btn btn-block btn-primary">Send</button>
     </div>
   </div>
   <div class="form-group row">
     <div class="wmd-panel col-lg-6">
      <div id="wmd-button-bar"></div>
      <textarea id="wmd-input" class="
      wmd-input form-control input-lg"
      placeholder="Email message here..." style="height: 420px;"></textarea>
    </div>
    <div class="col-lg-6">
      <p class="text-center">Preview</p>
      <div id="wmd-preview" class="wmd-panel wmd-preview"
      style="height: 420px; background: #eee;">
    </div>
  </div>
</div>
</div>
</form>









</div>


